[2019-07-18 21:35] arctouch-herculescunha opened #1 "Create multiple PRs based on feature branches"
I need to keep all feature branches updated with development.
Is it possible to use it in order to open a pull request for each feature branch with source branch being development?

feature branch mask: feature/*

[2019-07-21 07:57] shayki5 commented on #1
Hi,
Currently, you can add the task multiple times for each feature branch.
Do you want to merge development to feature branches or vice versa?
I will try to add it soon.

[2019-07-21 16:33] herculesjr commented on #1
Hi!
The idea was to avoid adding a task to every feature branch that I have since this will need a lot of maintenance on the yaml file.

My goal is to add something:
[code]

[2019-07-22 13:29] shayki5 commented on #1
Ok, now I understand, I will add this feature soon :)

[2019-08-08 13:32] shayki5 commented on #1
Hi @herculesjr ,
I updated the task with a new version that supports multi-target branch :)
Please check.
Thank you!

[2019-08-14 09:55] GuySimcox opened #2 "Question Windows Machines only"
Hi I'm getting a 403 forbidden. Yet I've enabled OAuth. Might this be due to the online server not being Windows. I'm unsure as this is Azure DevOps online not local prem.

Thanks for any assistance
Guy

[2019-08-15 12:46] #1 closed

[2019-08-15 12:49] shayki5 commented on #2
Hi @GuySimcox ,
The task support only windows machines (the agent should be in Windows).
Can you attach a photo of the error?
Thanks,
Shayki

[2019-08-15 16:04] GuySimcox commented on #2
@shayki5 Thanks for your response, apologies there wasn't much more to the error message except for 403 forbidden. Security of some sort I guess.

However I've found another way to do what I wanted which uses the Azure DevOps CLI method.

[https://docs.microsoft.com/en-gb/cli/azure/ext/azure-devops/repos/pr?view=azure-cli-latest#ext-azure-devops-az-repos-pr-create]

Thanks
Guy

[2019-08-26 09:54] shayki5 commented on #2
Hi Guy,
Yea, it another great way to create a PR.
Thanks for your info!

Kind regards,
Shayki

[2019-08-26 09:54] #2 closed

[2019-09-05 19:42] taniluc opened #3 "Problem with Create Pull Request task"
Hi,
I'm traying to use this task but a recive this error
##[error]Error in the remote server: (404) It was not found.
Do you know why?

[2019-09-08 09:43] shayki5 commented on #3
Hi @taniluc,
Which agent do you use?
Can you share the full log?
Thank you,
Shayki

[2019-09-11 11:46] JohannBlais commented on #3
Apparently the userid is missing from the call

[2019-09-15 06:54] shayki5 commented on #3
Thanks @JohannBlais
Can you share a screenshot of the build task? (or the yaml if you use yaml)

[2019-09-16 17:13] taniluc commented on #3
Hi, this is the build task.
![image](https://user-images.githubusercontent.com/54959604/64978534-fcc2b180-d872-11e9-97d8-47d0efda9380.png)
![image](https://user-images.githubusercontent.com/54959604/64978550-0b10cd80-d873-11e9-8ea0-232f6039ffd4.png)

[2019-09-18 07:08] shayki5 commented on #3
Thanks again @taniluc
In the screenshot you didn't specify reviewers, the issue is still exist or the issue occur only when you add reviewers?
If it's only when you add reviewers, can you give me an example what  you type in the reviewers field?

[2019-09-18 15:38] taniluc commented on #3
Actually, when I add reviewer:
![image](https://user-images.githubusercontent.com/54959604/65161807-71bdf480-d9f5-11e9-983a-1bdc94fa01f5.png)
I recive this error:
##[error]Error in the remote server: (404) It was not found.
And when I don't add any reviewer I recive this other error,
##[error]Error in the remote server: (403) forbidden.

[2019-09-19 11:03] shayki5 commented on #3
@taniluc Thank you!
Do you use Azure DevOps or TFS?
Do you enable the "Allow scripts to access the OAuth token" in the agent job options?

[2019-09-19 15:30] taniluc commented on #3
Hello,
I use  Azure DevOps. And Yes, I enable the "Allow scripts to access the OAuth token" options.

![image](https://user-images.githubusercontent.com/54959604/65258366-02f99d80-dac0-11e9-8d6e-2e5a1ffff875.png)

[2019-09-20 02:06] CGuandalini commented on #3
Hello,
I have the same issue.
![image](https://user-images.githubusercontent.com/49266864/65293590-fce3db00-db18-11e9-965c-fc96c2a18853.png)

[2019-09-22 06:57] shayki5 commented on #3
@CGuandalini can you share please the task configuration?

[2019-09-22 10:21] shayki5 commented on #3
@taniluc @CGuandalini I added more debug outputs, can you update the extension version and run the build again with system.debug = true?
Thank you!

[2019-09-25 01:52] taniluc commented on #3
Hi,
This is what I get.
![image](https://user-images.githubusercontent.com/54959604/65562745-b3becd00-df04-11e9-8a22-8b7c2e9f10ee.png)

[2019-09-25 06:13] shayki5 commented on #3
@taniluc Thank you!
It looks like a permissions issue, go to the Project Settings -> Repositories, and give Contribute to Pull Request to the user that runs the build (usually is: ProjectName Build Service (username) ).

![image](https://user-images.githubusercontent.com/26063853/65573966-c8d34480-df74-11e9-8d50-b15a7dd24115.png)

[2019-09-25 06:47] JohannBlais commented on #3
`2019-09-25T06:44:54.3710779Z ##[debug]VstsTaskSdk 0.10.0 commit 787a46ec0a2df5b4d12c2e801bd3f319975c054c
2019-09-25T06:44:54.5560056Z ##[debug]Entering RunTask.
2019-09-25T06:44:54.6075087Z ##[debug]INPUT_SOURCEBRANCH: 'refs/heads/develop'
2019-09-25T06:44:54.6117363Z ##[debug]INPUT_TARGETBRANCH: 'master'
2019-09-25T06:44:54.6163981Z ##[debug]INPUT_TITLE: 'Merge for release R7985-B35087'
2019-09-

[2019-09-25 06:59] shayki5 commented on #3
@JohannBlais thank you!
Do you use TFS or Azure DevOps?
Do you run it in a Release pipeline or in a Build pipeline?
In this line:
`2019-09-25T06:44:54.6757973Z ##[debug]GET http://redacted_collection_url_root/_apis/userentitlements?api-version=5.0-preview.2 with 0-byte payload`
What is `redacted_collection_url_root`? the format should be `https://vsaex.dev.azure.com/organzition/_apis/......`

[2019-09-25 07:04] JohannBlais commented on #3
We are using Azure DevOps Server (TFS)

![image](https://user-images.githubusercontent.com/1086147/65576937-2c5c7280-df73-11e9-80f5-1e4deb1dba06.png)

I just removed our internal URL, it should read something like http://FQDN/tfs/CollectionName/...

[2019-09-25 07:10] shayki5 commented on #3
@JohannBlais Ok, I checked it and this is the issue, I use a Rest API version 5.0-preview.2 to get the user id (according to the email) and this API version doesn't exist yet in Azure DevOps Server :(
Without reviewers can you create the PR?

[2019-09-25 07:13] JohannBlais commented on #3
@shayki5 Yes it works, we are no longer using this feature at the moment. Considering we can still create the PR without the specific reviewers, it is not a big deal for us. We were simply not expecting it to crash :)

[2019-09-25 07:16] shayki5 commented on #3
@JohannBlais Ok great, I'm happy you can use it without it. I will think about a solution for you, how I can get the id without this specific API.
Anyway, I hope in the next Azure DevOps Server release the API will be supported.
Thank you so much for your response!

[2019-09-25 18:57] taniluc commented on #3
Hi! @shayki5
I actually, have full access in the GIT repository. I'm in the Build Administrators group.
![image](https://user-images.githubusercontent.com/54959604/65630738-355d3c00-df93-11e9-9bd3-5d76da86903e.png)

This is the complete error:
##[debug]POST https://akrosproject.visualstudio.com/BaseDatos/_apis/git/repositories/BaseDatos/pullrequests?api-version=5.0 with -1-byte payload
##[debug]Le

[2019-09-25 19:02] taniluc commented on #3
Hi! @shayki5.
Actually, I have full access in the project. I'm in the Build Administrators group.

![2019-09-25_12h50_54](https://user-images.githubusercontent.com/54959604/65631298-81f54700-df94-11e9-9a99-123f2c258b6b.png)

This is the complete error: ##[debug]POST https://akrosproject.visualstudio.com/BaseDatos/_apis/git/repositories/BaseDatos/pullrequests?api-version=5.0 with -1-byte payload
##

[2019-09-25 19:53] shayki5 commented on #3
Hi @taniluc, the build runs not with your account, he runs with build service account, please check in the bottom of the groups if you have "Build Service (username)" group/user (like in the photo I uploaded) and grant them the permissions.
Waiting for your update :)

[2019-09-25 20:19] taniluc commented on #3
@shayki5,
I gave the,Project Collection Build Service, user  access to contribute to pull request like you said before, and it works!!!!
Thaks a lot for all your help!! :)

[2019-09-25 20:47] shayki5 commented on #3
@taniluc  I glad to hear it!
You're welcome!

[2019-09-25 20:47] #3 closed

[2019-09-26 07:52] JohannBlais commented on #3
I was about to suggest you document it as a known issue, when I realized you already did. 👍

[2019-09-26 10:29] TarunSingh12April opened #4 "Getting : [error]Cannot convert 'System.String[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported."
Hi Shayki,

I am getting below error. I am using azure pipelines windows vs2017-win2016 agent.

![image](https://user-images.githubusercontent.com/50168434/65680981-aaa13d80-e075-11e9-9847-fe6546e0a48d.png)

I have allowed Project Collection Build Service user to contribute to pull requests.
Please help.

Regards
Tarun

[2019-09-30 20:02] taniluc opened #5 "Multi target branch"
Hi!
How I can manage the Target branch name when I want to send a multi pull request and I have my branches into a folder, like this.

![image](https://user-images.githubusercontent.com/54959604/65911873-8782d080-e38a-11e9-9738-682076349705.png)

[2019-10-01 14:37] momerm opened #6 "Skip creating a pull request if one already exists"
If I already have an existing pull request from the source branch to the target branch, the task returns the following error causing the build to fail.

##[error]The remote server returned an error: (409) Conflict.

Is it possible to skip creating a pull request if there is one already open?

[2019-10-02 05:27] shayki5 commented on #4
Hi @TarunSingh12April,
Can you share please the task configuration?
Thank you,
Shayki

[2019-10-02 05:29] shayki5 commented on #5
Hi @taniluc,
You can do this:
`DEV/DEV_*`
Please check and upate me if it will success :)
Thank you,
Shayki

[2019-10-02 07:47] shayki5 commented on #6
Hi @momerm,
I updated the extension and implemented it :)
Now if there is a PR the task will not be failed with error but will display a warning:
![image](https://user-images.githubusercontent.com/26063853/66026648-f6366a00-e501-11e9-9100-eeba2195a03d.png)
Please update the extension to version 1.0.41 and check :)
Thank you,
Shayki

[2019-10-02 14:38] momerm commented on #6
Wow that was quick. It's working great now. Thank you!

[2019-10-02 15:34] taniluc commented on #5
Hello @shayki5,
I tried with both, but didn't work for the branches in the folder.
I receive this error:

##[debug]Invoke-RestMethod : {"$id":"1","innerException":null,"message":"TF401398: The pull request cannot be activated because the source and/or the target branch no longer exists, or the requested refs are not branches","typeName":"Microsoft.TeamFoundation.Git.Server.GitPullRequestCannotBeAc

[2019-10-02 16:17] shayki5 commented on #6
You're welcome!

[2019-10-02 16:17] #6 closed

[2019-10-02 16:18] shayki5 commented on #5
@taniluc Can you please run the task with `system.debug` = `true` and share here all the log? (not only the error).
Thank you!

[2019-10-02 16:45] taniluc commented on #5
@shayki5,
I have others branches out side of the folder DEV, and the pull request was created for this ones but not for the branches on the folder.

![image](https://user-images.githubusercontent.com/54959604/66063793-5a0c6300-e501-11e9-8a37-2229847cdc07.png)

[2019-10-02 20:29] shayki5 commented on #5
Hi @taniluc,
I fixed the bug, please update the extension to version 1.0.44 and check (with `DEV/*`) :)
Thank you,
Shayki

[2019-10-02 20:30] shayki5 commented on #4
Hi again @TarunSingh12April,
I updated the extension (to version 1.0.44) and I think it also fixed this error, can you update and check please?
Thank you,
Shayki

[2019-10-02 20:51] taniluc commented on #5
Hi @shayki5,
Well, with your fix now it perfectly works!

![image](https://user-images.githubusercontent.com/54959604/66080643-b7191080-e523-11e9-89b9-eaf8c4cf9532.png)

Thank you very much!

[2019-10-03 06:17] shayki5 commented on #5
Great :)
Thanks for sharing!

[2019-10-03 06:17] #5 closed

[2019-10-03 06:59] TarunSingh12April commented on #4
Thanks Shayki.

I am still getting the same error.
Task looks like:
![image](https://user-images.githubusercontent.com/50168434/66105292-ba220880-e5d8-11e9-8037-86d3a5e6281c.png)

I've one query, in extension tab of Azure organizational settings I can see that your extension is installed in my project with latest version 1.0.44. But in task log, 1.0.0. is mentioned as version. Is it normal?
![imag

[2019-10-03 08:50] TarunSingh12April commented on #4
Hi @shayki5 , Thank you so much for your continuous help.

It seems issue still persists. Version 1.0.45 is reflecting in organization settings and I have used valid email address for reviewers field, still getting same error:
"Cannot convert 'System.String[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported."

![image](https://user-images.githubuserco

[2019-10-03 09:25] TarunSingh12April commented on #4
Hi @shayki5 ,

I re-installed the extension and created new pipeline. It is showing different error now:
"ConvertFrom-Json : Invalid JSON primitive: Page."

![image](https://user-images.githubusercontent.com/50168434/66114963-83a2b880-e5ed-11e9-9aa2-28d44191948d.png)

![image](https://user-images.githubusercontent.com/50168434/66115052-b2b92a00-e5ed-11e9-8c12-987c9e17286d.png)

Thank you,
Tarun

[2019-10-03 09:33] TarunSingh12April commented on #4
@shayki5 I forgot to enable Oauth in new pipeline, I have enabled it. It is now showing reviewers id. But still getting same error: "ConvertFrom-Json : Invalid JSON primitive: Page."

[2019-10-03 10:12] shayki5 commented on #4
@TarunSingh12April Ok, it's look like you still get an error when the task try to create PR but it can't print the error correctly and you get the Json error.

I fixed it and updated the extension now, please remove the task and add him again to the build definition (it should be enough, but I'm not sure) and try again.

By the way, did you gave permissions to the build service account?

Thanks,
S

[2019-10-04 06:23] TarunSingh12April commented on #4
Hi @shayki5,

Still no luck, same error is coming with version 1.0.46. I tried creating new pipeline, still same error.

However the last link which it is accessing (prior getting failed) gives "404 Page not found" error.
link: https://dev.azure.com/<my_project_name>/<git_repo_name>/_apis/git/repositories/<my_project_name>/<my_git_repository_name>/pullrequests?api-version=5.0

Is there is anything

[2019-10-04 06:28] shayki5 commented on #4
Hi @TarunSingh12April,
That explain the error... the extension can create a PR for Azure DevOps (Repos), **not** for GitHub :(
It can be useful feature to add, but it will be a lot of work, I will start check it.

Best regards,
Shayki

[2019-10-04 06:35] TarunSingh12April commented on #4
@shayki5 ohhh... :(   However thank you so much for your continuous efforts. I am pretty sure you will add this feature as well.

Regards,
Tarun

[2019-10-04 06:36] shayki5 commented on #4
You're welcome!
I will keep you update here.

[2019-10-04 06:36] #4 closed

[2019-10-06 14:12] shayki5 commented on #4
Hi @TarunSingh12April,
I have a good news! I updated the extension with GitHub support :)
The new version is 1.2.1 (it should be updated automatically, check if the Git Type radio buttons exist in the task, if not - uninstall and re-install....).
If you have any questions about it you can ask here.

Kind regards,
Shayki

[2019-10-10 06:33] shayki5 commented on #4
Hi Tarun,

Great! I glad to hear it :)
If you will find a bugs or do you think about an improvements please let e know :)

Thank you,
Shayki

[2019-10-10 06:41] TarunSingh12April commented on #4
Sure Shayki.

Regards,
Tarun

[2019-10-27 10:52] shayki5 commented on #3
Hi @JohannBlais,
I think I fixed the issue, now you can add reviewers also in Azure DevOps Server, can you check it, please?
Just update to version 1.2.18.
Thank you,
Shayki

[2019-11-05 15:24] UnleashMayhem opened #8 "Add ability to add a group/team as a reviewer for Azure Devops"
Currently only users with an email can be added as a reviewer, which means it is currently not possible to add a group as a reviewer.

This is important to have as a way to assign a team to a PR without adding each user individually.

[2019-11-05 16:01] shayki5 commented on #8
Hi @UnleashMayhem,

This is a great idea!
I will start work on it :)

Kind regards,
Shayki

[2019-11-06 20:45] shayki5 commented on #8
Hi again @UnleashMayhem :)

I added this feature in the new version - 1.2.30
You can add a team with the team name and also combine with users, for example:
`Team name1;Team name 2;myemail@gmail.com`

Kind regards,
Shayki

[2019-11-06 20:45] #8 closed

[2019-11-08 08:18] asela-ntt opened #9 "Pull Request Does not Get Created but No Error and tells Successful"
I have used this in my Azure Pipelines to create a pull request from the Development branch to Master Branch automatically. In the logs it tells you the Pull Request Creation was Successful. However the pull request is not created and the place where the pull request number is shown in the logs, there is nothing there. Its just blank.
I think in addition to deciding if the response is not blank it

[2019-11-08 23:39] edgariscoding opened #10 "Set Merge Type For PR Auto-Complete"
My organization only allows Squash merge types on PRs to our master branch. Currently, if I have this extension auto-complete the PR, I get the following warning:

Is there a way we could set the merge type after checking the "set auto-complete" option for the task?

[2019-11-09 17:01] shayki5 commented on #9
Hi @asela-ntt,
You are right I need to fix the response message.
Can you please run the task again with `debug` = `true` and share here the logs?

Best regards,
Shayki

[2019-11-09 17:02] shayki5 commented on #10
Hi @edgariscoding,
It's a good idea to add this feature!
I will start work on it and I will update you.

Kind regards,
Shayki

[2019-11-10 23:35] asela-ntt commented on #9
Hi Shayki,

Thanks a lot for your response. Appreciate your efforts in creating this task. I am sure it’s making a lot of people’s life very easy and hopefully mine sometime soon.

Given below are the logs from my last run and hope it helps.

2019-11-04T06:14:41.0797096Z ##[section]Starting: Create Pull Request
2019-11-04T06:14:41.0912262Z ==========================================================

[2019-11-11 07:52] shayki5 commented on #9
Hi @asela-ntt,

Thank you for the logs but is not enough...
Please go to the variables and a variable `system.debug` with the value `true`, run the release again and share here the logs.
Please try also to run it from a build pipeline and check if it works or not.

Thank you,
Shayki

[2019-11-11 13:49] shayki5 commented on #10
Hi again,

I added this feature :)
Now you can choose a few complete options, include squash merge.
Implemented in PR #11

Kind regards,
Shayki

[2019-11-11 13:49] #10 closed

[2019-11-11 14:00] edgariscoding commented on #10
Wow! That was fast! Thank you!

[2019-11-11 14:08] shayki5 commented on #10
You're welcome!
Please check it and if it doesn't work let me know.

[2019-11-11 17:58] edgariscoding commented on #10
@shayki5 is there a way to force an update to a task or does it take some time for it to become available from Microsoft? I created a new pipeline and added your extension. The version drop down at the top shows "1.*" and I don't see options for choosing the merge type when enabling auto-complete.

[2019-11-11 19:24] shayki5 commented on #10
@edgariscoding It should be updated automatically within a few hours, if you not see it you can just uninstall the extension and reinstall.

[2019-11-11 23:47] asela-ntt commented on #9
Hi Shayki,

Given below are the logs after debug is turned on. It looks like it doesn’t have permission.

2019-11-11T23:16:23.0032490Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2019-11-11T23:16:23.0032995Z ##[debug]Evaluating: succeeded()
2019-11-11T23:16:23.0033073Z ##[debug]Evaluating succeeded:
2019-11-11T23:16:23.0033230Z ##[debug]=> True
2019-11-11T23:16:23.0033399Z ##[deb

[2019-11-12 06:54] shayki5 commented on #9
Hi,
Thanks for the logs!
You need to give permissions to the build user (in Microaoft hosted agnet is "Build Service (user-name)"):

![image](https://user-images.githubusercontent.com/26063853/68648843-fdea2500-0529-11ea-8f15-8e0d322baed2.png)

[2019-11-12 18:59] edgariscoding commented on #10
@shayki5 Just wanted to show that I still don't see these options despite having the latest version of the extension. I create a NEW empty build pipeline, then added the "Create Pull Request" task. Checking the "Set Auto Complete" does not show the options to choose a merge type.

![image](https://user-images.githubusercontent.com/12093243/68701256-fc315900-054b-11ea-877a-06f12a4dd8af.png)

![imag

[2019-11-12 20:15] shayki5 commented on #10
@edgariscoding It's really wired, it also occurs to me when I published a private version to test it, I think there is a bug, I should report it. what I do each time is uninstall and re-install so I guess it will solve it also in the public version.

[2019-11-12 21:35] edgariscoding commented on #10
@shayki5 Thank you, I guess I could submit a bug report too. I'm not the administrator for our organization so I can't uninstall the extension myself. I'll see if it starts working one of these days.

[2019-11-13 01:19] asela-ntt commented on #9
Hi Shayki,

Thanks a lot for your help. It worked.

Best Regards,

Asela Sellahewa
Consultant
Australia | Digital Business
NTT

Level 3, 190 Flinders St, Adelaide SA 5000
M: +61 44 921 3066
E: asela.sellahewa@oakton.com.au<mailto:asela.sellahewa@oakton.com.au>
hello.global.ntt<https://hello.global.ntt?elqTrackId=9ed2b0d7765d4d4993e02012ae80b1ae&elq=c967a07fa1ac435d9c3ea6359686467c&elqaid=6020&elqa

[2019-11-13 08:27] shayki5 commented on #9
Great! I glad to hear it!

[2019-11-13 08:27] #9 closed

[2019-11-15 16:34] edgariscoding commented on #10
@shayki5 just a heads up, do you think the reason why the extension isn't updating is because the version listed in task.json (1.2.30) and the manifest version listed in vss-extension.json (1.2.15) do not match the version when this feature was implemented (1.2.36) or latest version listed in the Azure Marketplace (1.2.37)?

Someone mentioned this in a Stackoverflow question I was reading:

https:

[2019-11-18 18:49] edgariscoding commented on #10
@shayki5 I still don't see the new feature, I guess I'll just wait for the next update.

[2019-11-18 20:01] shayki5 commented on #10
@edgariscoding I uploaded a new version - 1.2.40 and I updated the task version to this version, can you check if you see the update now?

[2019-11-18 20:28] edgariscoding commented on #10
@shayki5 Yup! That worked! Thank you!

[2019-11-18 20:30] shayki5 commented on #10
Great! you're welcome :)
I will add a build step to update the task.json in each build.
Thank you!

[2019-12-04 07:25] Leafrostar opened #13 "Error for GitHub PR"
I tried this task for GitHub PR and facing below error, do you have any idea?

##[error]The current operating system is not capable of running this task. That typically means the task was written for Windows only. For example, written for Windows Desktop PowerShell.

[2019-12-04 07:26] shayki5 commented on #13
Hi @Leafrostar,
Thank you for trying the task :)
Do you use Windows or Linux?

[2019-12-04 07:29] Leafrostar commented on #13
I am using Windows

[2019-12-04 07:33] shayki5 commented on #13
Is is Self hosted agent, right? If you login to the machine with the user that the build use, can you open PowerShell and run scripts?
Which Windows version is?

[2019-12-04 07:49] Leafrostar commented on #13
I am not sure whether is Self hosted agent, will figure it out.
I can open PowerShell and run scripts (cannot run as administrator)
Windows version is Windows 10 Enterprise

[2019-12-04 08:22] Leafrostar commented on #13
I found this in the jobs log:

Pool: Azure Pipelines
Image: ubuntu-latest

So that means it's Microsoft hosted agent and is Linux VM.
That's why I face this error.

[2019-12-04 08:27] shayki5 commented on #13
@Leafrostar exactly.
Try to change the pool to `windows-latest`.

[2019-12-04 08:46] Leafrostar commented on #13
Now I am facing:

##[error]{"message":"Draft pull requests are not supported in this repository.","documentation_url":"https://developer.github.com/v3/pulls/#create-a-pull-request"}

I didn't check "Create Draft Pull Request"

[2019-12-04 08:56] shayki5 commented on #13
Can you run the pipeline with the variable `system.debug` = `true` and share here the full log of the task?

[2019-12-04 09:29] Leafrostar commented on #13
[log.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/3921092/log.txt)

[2019-12-04 09:45] shayki5 commented on #13
Thank you!
You repo is a public repo or a private repo?

[2019-12-04 09:54] Leafrostar commented on #13
It's private repo

[2019-12-04 09:56] shayki5 commented on #13
Ok, private repos support draft pull request only with GitHub Team and GitHub Enterprise Cloud and I send `draft=false` so it fails.
I fix it now and I will update you soon :)

[2019-12-04 10:00] Leafrostar commented on #13
Thank you!

[2019-12-04 10:23] shayki5 commented on #13
I fixed it :)  - the new version is 1.2.41
Please try to run it now and check if it works.

[2019-12-05 02:30] Leafrostar commented on #13
It's working now. Thank you for the fast response and fix.

[2019-12-05 02:30] #13 closed

[2019-12-05 03:27] Leafrostar opened #14 "GitHub Merge after Create PR"
Currently for GitHub, it can only create PR without merge PR ?
Is any way to merge PR also?

[2019-12-05 07:18] shayki5 commented on #14
Hi,
Do you mean to create a PR and immediately merge the branches? if yes, so you can do just merge, for what do you need the PR?

[2019-12-05 07:27] Leafrostar commented on #14
Yes exactly. I need to create and merge the PR regularly and automatically.

[2019-12-05 07:57] shayki5 commented on #14
If you do not use the power of the PR (code review, builds check, etc.) so why to use PRs? you can do `git merge` between the branches. no?
In second thought, maybe you use PR but sometimes you need to perform the auto-merge?

[2019-12-05 08:29] Leafrostar commented on #14
My intention is to use Azure pipeline tasks to do `git merge` on GitHub automatically.
But for GitHub actions in Azure pipeline I think cannot do `git merge` directly, need some tasks like the one you provided.

[2019-12-05 08:41] shayki5 commented on #14
If the branch is "locked" and force a Pull Request you can't do `git merge`, but if not you can add a command-line task that perform the `git merge`.
Anyway, I will start work on it and I will add this feature soon :)

[2019-12-05 08:47] Leafrostar commented on #14
Thank you for the info! Let me have a try on using command-line task to preform `git merge` for GitHub

[2019-12-05 09:04] shayki5 commented on #14
You'ew welcome!
You need to `cd` to the repo folder, then perform the merge. don't forget to authenticate with PAT.
But again, if your repo settings require PR you can't do it.

[2019-12-05 09:58] Leafrostar commented on #14
Thanks for the details. It makes me knowing what to do.

[2019-12-06 05:45] sush25mita opened #15 "Page Not found error"
Create Pull request task is showing Page not found error on selecting 'Set Auto Complete'. Pull request is being created but error in auto complete. I am using Azure DevOps.

*************************
Pull Request 440 created.
##[debug]'link'/_apis/graph/users?api-version=4.1-preview.1
##[debug]GET 'link'/_apis/graph/users?api-version=4.1-preview.1 with 0-byte payload
##[debug]Leaving RunTask.
##[

[2019-12-07 17:20] shayki5 commented on #15
Hi @sush25mitam,
Can you share with me the `'link'` in the URL? just remove the organization name.
And just to verify, do you use Azure DevOps in the cloud, not Azure DevOps Server on-prem?

[2019-12-09 05:09] sush25mita commented on #15
Hi shayki5

The issue is resolved. Resolution was to enable the use of new URL for organization in settings. As the function to get the builduserid was resulting to error due to wrong API. The environment variable $env:System_TeamFoundationCollectionUri was returning old URL which was leading to wrong API.
Once we had enabled new URL the API was redirecting though new URL as 'dev.azure.com'.
Reque

[2019-12-09 12:15] shayki5 commented on #15
Thank you for the update!
I will update the docs with this information.

[2019-12-09 12:15] #15 closed

[2019-12-17 08:42] interpeix opened #17 "Multi-Branch failed on subfolder"
Hi, we're using your extension to auto-generate pull-requests from master to develop/* branches. Everything is working fine until we create a subfolder on develop like this "develop/MC/{branch-name}". After that the plugin fails with eror 404 trying to create pull requests on /develop/MC.

Here are some logs:
The Source Branch is: refs/heads/master
The Target Branch is: refs/heads/develop/MC
The T

[2019-12-19 10:08] shayki5 commented on #17
Hi @interpeix,
Thank you for report the bug!
I also faced an issue if there are two folders in the branch, I will check it and I will update you :)

[2019-12-19 23:04] shayki5 commented on #17
Hi again,
I fixed the bug, please check now :)
(version 1.2.51)

Thanks,
Shayki

[2019-12-20 08:48] interpeix commented on #17
Hi @shayki5 ,

It works perfectly well, thank you so much for your support :)

[2019-12-20 08:48] #17 closed

[2019-12-20 12:04] shayki5 commented on #17
You're welcome!

[2019-12-20 16:19] tcukanoot opened #18 "Azure DevOps - Link Work Items"
The Pull Requests created in the Azure DevOps Release Pipeline are not automatically linking the associated work items, despite that selection being checked.
![image](https://user-images.githubusercontent.com/37633617/71268159-e44eb100-2311-11ea-9b72-6d361a371fda.png)
Is it possible I've missed a necessary permission? No errors appear to be reported, I just have to manually add the items when I ap

[2019-12-21 16:01] shayki5 commented on #18
Hi @tcukanoot,
Can you run the task with `debug` = `true` and share here the logs, please?

Thank you,
Shayki

[2019-12-23 14:50] shayki5 commented on #14
Hi @Leafrostar,
Did you try to do the merge?

[2019-12-26 14:12] eliiotz opened #19 "Azure DevOps - can't set auto-complete correctly"
I have tried this job. It works well in creating PR but can't set auto-complete correctly. Here I attach the full log & highlight error message.

2019-12-19T13:37:06.6416138Z Task         : Create Pull Request
2019-12-19T13:37:06.6416210Z Description  : Automatically create a Pull Request for Azure DevOps or GitHub repository from Build or Release pipeline, supports also multi target branch.
2019-

[2019-12-26 14:14] shayki5 commented on #19
Hi @eliiotz,
Thanks for reporting it!
Can you run the task again with the variable `system.debug` = `true` and share here the logs?

[2019-12-26 14:29] eliiotz commented on #19
Thank you for your quick response! Here is the log in debug mode (sorry I have hided org info):

2019-12-26T14:24:43.0044200Z ##[debug]GET https://vssps.dev.azure.com/xxx/_apis/graph/users?api-version=4.1-preview.1 with 0-byte payload
2019-12-26T14:24:44.1885379Z ##[debug]received 581294-byte response of content type application/json; charset=utf-8; api-version=4.1-preview.1
2019-12-26T14:24:45.38

[2019-12-26 14:39] shayki5 commented on #19
Thank you!
Can you try to put this URL `https://vssps.dev.azure.com/xxx/_apis/graph/users?api-version=4.1-preview.1` (replace xxx with your org) in the browser and check the results? try to search `Project Collection Build Service` if it exists in the results.

[2019-12-26 14:47] eliiotz commented on #19
I got your point. Project Collection Build Service is not in the first page (with 500 users).

[2019-12-26 14:54] shayki5 commented on #19
Ok, we found the issue :)
I realize that if there is more then one page the result set will contain a continuation token for retrieval of the next set of results.
Can you show me what is the `continuation token`? how it looks like?

[2019-12-26 15:02] eliiotz commented on #19
Agree with you. Actually I found `Project Collection Build Service` in the second page.

The continuation token is in the header of response (key:**x-ms-continuationtoken**), like this:
![image](https://user-images.githubusercontent.com/37076709/71480382-bf879b80-2833-11ea-85d1-05456bd915cc.png)

Then you can get the next page with https://vssps.dev.azure.com/xxx/_apis/graph/users?continuationToke

[2019-12-26 15:48] shayki5 commented on #19
Thank you for the info!
I tried to fix it but I can't test it... because I don't have an organization with more than 500 users...
I uploaded a new version, please check now of you get the error.

[2019-12-26 16:35] eliiotz commented on #19
Thanks! It works now.

BTW, I have found another small issue. Auto-complete merge strategy setting can be `merge (default) / squash / rebase-ff / rebase-noff` in the classical view of the extension, while in current API valid merge strategies are [noFastForward/rebase/rebaseMerge/squash](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20requests/update?view=azure-devops-rest-5.1#gi

[2019-12-26 17:36] shayki5 commented on #19
Great!
I don't fully understand the issue, the classic view is like the yaml, just the string in the drop-down list are more readable.

[2019-12-27 08:55] eliiotz commented on #19
In yaml, actually we can input any string & the extension will use the string as parameter; In classic view, we have to pick one from the drop-down list, while the values are not valid for the API. As a result, service will always set merge strategy to default value.

For example, if I choose "Rebase and fast-forward" in classic view, **mergeStrategy** will be '**rebase-ff**', which is a invalid v

[2019-12-27 12:30] shayki5 commented on #19
Now I understand!
Thank you so much!!
I fixed it and I uploaded a new version.

[2019-12-27 20:57] tcukanoot commented on #18
I ran a task with 1 associated work item in the build/branch. Work item was not linked in automatically created pull request.
Create Pull Request log:

2019-12-27T20:44:25.4660665Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2019-12-27T20:44:25.4662400Z ##[debug]Evaluating: succeeded()
2019-12-27T20:44:25.4662821Z ##[debug]Evaluating succeeded:
2019-12-27T20:44:25.4663557Z ##[deb

[2019-12-29 08:10] shayki5 commented on #18
Hi,
I added some debug prints, please run the task again with the `system.debug = true` and share again the results.
Thank you!

[2019-12-29 08:11] #19 closed

[2019-12-30 16:17] tcukanoot commented on #18
new logs attached:
2019-12-30T15:48:49.7307111Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2019-12-30T15:48:49.7307892Z ##[debug]Evaluating: succeeded()
2019-12-30T15:48:49.7308002Z ##[debug]Evaluating succeeded:
2019-12-30T15:48:49.7308355Z ##[debug]=> True
2019-12-30T15:48:49.7309156Z ##[debug]Result: True
2019-12-30T15:48:49.7309402Z ##[section]Starting: Create Pull Request
2

[2019-12-30 18:38] shayki5 commented on #18
Thank you!
Now I figure out what is the issue, it's because you use the old URL - `xxx.visualstudio.com` instead of the new URL - `dev.azure.com/xxx`.
I fixed it and I uploaded a new version, now it should work, please check :)

[2019-12-30 22:51] tcukanoot commented on #18
That makes sense...I've been meaning to update to the new URL at some point. I really appreciate the help.
I've run the test again, and now the task fails with following error:
Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported.

Log:
2019-12-30T22:42:39.9992674Z ##[debug]Evaluating condition for step: 'Create Pull Reques

[2019-12-31 02:54] JonasMock opened #20 "After update to version 1.2.55 - [error]Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported."
2019-12-31T02:50:33.0379760Z ##[debug]Evaluating condition for step: 'DEV build succeeded - automatic pull request'
2019-12-31T02:50:33.0380521Z ##[debug]Evaluating: succeeded()
2019-12-31T02:50:33.0380611Z ##[debug]Evaluating succeeded:
2019-12-31T02:50:33.0380925Z ##[debug]=> True
2019-12-31T02:50:33.0381125Z ##[debug]Result: True
2019-12-31T02:50:33.0381338Z ##[section]Starting: DEV build succe

[2019-12-31 02:59] JonasMock commented on #20
Without the option "Link Work Items" it works.

[2019-12-31 07:37] shayki5 commented on #18
Oh ok, thanks for the update, I realized what I did wrong.
I fixed it, please check now :)

[2019-12-31 07:37] shayki5 commented on #20
Hi @JonasMock,
Thank you for reporting that!
It's related to issue #18.
I just fixed it, please check :)

[2019-12-31 15:20] dmundra commented on #18
The error 'Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported.' no longer appears.

[2019-12-31 15:38] shayki5 commented on #18
Great :)
Does everything works well? can I close this issue?

[2019-12-31 15:45] dmundra commented on #18
Question for @tcukanoot

[2020-01-01 00:28] #20 closed

[2020-01-01 00:29] JonasMock commented on #20
Thank’s for your fast help, it works now.

[2020-01-06 14:59] tcukanoot commented on #18
Apologies for the delay. I'm back to testing, and I still do not get the linked Work Items (image below). Perhaps I'm doing it incorrectly, not linking tickets properly, or don't have the most-recent version? Here is my CI/CD process:
1. build solution in visual studio, and push to new dev ops branch.
2. I create a pull request into 'development' branch, and link the appropriate work item to this

[2020-01-06 15:09] shayki5 commented on #18
In this screen (the new PR) you have "commits" tab you have a commits list, please click on their SHA (on the right side) to open their details, can you see in one commit or more that they associate to a work item?
For example:
![image](https://user-images.githubusercontent.com/26063853/71826732-4431af80-30a7-11ea-98c0-db916d745e39.png)

[2020-01-06 16:29] tcukanoot commented on #18
Yes, the work item appears to be linked in the most-recent commit:
![image](https://user-images.githubusercontent.com/37633617/71831506-a3270280-306e-11ea-88d8-7c701da5a519.png)

Not all of the commits have a work item though.

[2020-01-08 17:02] rszemplinski opened #21 "Remote server returned a 404"
Don't know what I'm doing wrong. Added all the permissions to the Project Collection Service Users and everything.

![image](https://user-images.githubusercontent.com/5331990/71999068-bffa3c00-320e-11ea-9231-5e28c0c91252.png)

[2020-01-08 17:04] rszemplinski commented on #21
Should also note that I am doing this in a Release pipeline

[2020-01-08 19:46] shayki5 commented on #18
@tcukanoot now I caught the issue! because you have many commits to the same work item the PR tried to add the same work item many times and he can't do that so he didn't link anyone, I fixed it and now it should work, please check :)

[2020-01-08 20:08] shayki5 commented on #21
Hi @rszemplinski,

404 is not a permissions issue, can you please run the pipeline again with the variable `system.debug` = `true` and share here the logs?

Thanks,
Shayki

[2020-01-08 20:09] shayki5 commented on #14
I close this issue, if this feature can help others please update here and I will add it.

[2020-01-08 20:09] #14 closed

[2020-01-08 20:15] rszemplinski commented on #21
So is it because we are using the old url?

Url: `digiop.visualstudio.com`

![image](https://user-images.githubusercontent.com/5331990/72012231-939fe900-3229-11ea-98ac-b4181c435ecc.png)

[2020-01-08 20:33] shayki5 commented on #21
Thank you!
You are right, this is a special API URL and I didn't handle the old URL format.
I fixed it now and I uploaded anew version, please check if it works now :)

[2020-01-08 20:38] rszemplinski commented on #21
So, it was weird. It threw an error the first time throwing up this huge 404 message than I ran it a second time and now it works!

Thank you sir!

[2020-01-08 20:42] shayki5 commented on #21
You're welcome!
Also locally if I run the API with the old URL I didn't get the results, but log-in page and then the results, so I guess this is the reason.
Anyway, I recommend moving to the new URL format :)

[2020-01-08 20:42] #21 closed

[2020-01-08 20:51] rszemplinski commented on #21
Yeah, actually just had a conversation about that with some coworkers. Plan on doing that soon.

Anyways, thanks again for your help!

[2020-01-09 16:39] tcukanoot commented on #18
Success! Thank you.
What I've found now though, is that I had 2 work items in the release, and only 1 of them mapped to the pull request. I will try again with a fresh set, and post logs if I'm able to reproduce.

Thanks again.

[2020-01-10 22:25] tcukanoot commented on #18
I have confirmed that if there is more than 1 ticket attached in a release, only 1 of them makes it to the automatically generated pull request. Log attached.

2020-01-10T22:19:46.6743367Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2020-01-10T22:19:46.6744446Z ##[debug]Evaluating: succeeded()
2020-01-10T22:19:46.6744559Z ##[debug]Evaluating succeeded:
2020-01-10T22:19:46.6744925

[2020-01-11 22:30] ice508 opened #22 "PWSH"
Feature:
¿migrate to pssh core, and run in any platform?
only for win is bad idea.

[2020-01-12 07:24] shayki5 commented on #22
Hi @ice508,
Yea, I know... but Microsoft doesn't have a handler for PS core, so custom tasks can't be written in PS core (see [this ](https://github.com/microsoft/azure-pipelines-task-lib/issues/537)issue).
For cross-platform this should be in TypeScript, if there is a high demand I will consider re-writing the task in TypeScript.

Kind regards,
Shayki

[2020-01-12 14:35] shayki5 commented on #18
Hi @tcukanoot,
Thank you for reporting it! I can reproduce it.
I fixed it and it looks like it works well now, please check :)

[2020-01-13 10:48] eliiotz opened #23 "Fail in setting auto-complete"
Hi, I suddenly found that the task will fail in setting auto complete now. I have turned on the debug mode and the log is as below.

According to the log, I think the exception should happen when requesting user graph api.
[API in official document](https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/Users/List?view=azure-devops-rest-5.1) is https://vssps.dev.azure.com/xxx/_apis/graph/use

[2020-01-13 11:25] shayki5 commented on #23
Hi @eliiotz,
Did it work for you in the past?
It fails because you use the old URL format - `https://xxx.visualstudio.com` and not the new format `https://dev.azure.com/xxx`.
Can you change the URL to the new format?

[2020-01-13 11:58] Gabhala commented on #23
I'm seeing a similar problem on Azure DevOps Server 2019 (on-premise).  It seems that the DevOps Server API does not include the Graph API - https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-server-rest-5.0

[2020-01-13 12:05] shayki5 commented on #23
@Gabhala You are right, it looks like the graph API not supports Azure DevOps Server. I will add it to the Release Notes as a known issue.

[2020-01-13 12:48] eliiotz commented on #23
@shayki5 This is a system variable and I got below error when trying to rewrite it:

Cannot override system variable 'System.TeamFoundationCollectionUri'

[2020-01-13 14:09] shayki5 commented on #23
@eliiotz  It's in the organization settings:

![image](https://user-images.githubusercontent.com/26063853/72262169-0bea1e00-361f-11ea-8c17-df7a9d3e52ec.png)

[2020-01-13 15:26] tcukanoot commented on #18
Hi @shayki5
I tested again this morning and both tickets flowed through as expected. Unless you'd like me to test any more scenarios, I think you can close this ticket. Thanks again, this is a great feature.

[2020-01-13 19:05] shayki5 commented on #18
You're welcome!
Thank you for the test!
If it will do issues in the future you can respond here.

[2020-01-13 19:05] #18 closed

[2020-01-14 01:22] eliiotz commented on #23
Thanks! I found the setting. I have requested the change to org admins, but not quite sure if it may impact other projects under the org.

I think it should be okay to close this issue. And it would be great if we can make the task compatible with old url. Can I contribute to the code base?

[2020-01-14 10:04] shayki5 commented on #23
I make the task compatible with the old URL in other API calls, but in this specific API, I can't get results.
Check the code to see how I handled it, if you will make it work you can of course open a PR and contribute :)

[2020-01-14 10:04] #23 closed

[2020-01-16 07:52] shayki5 commented on #23
This issue fixed by @eliiotz in PR #24 :)

[2020-01-27 14:55] rszemplinski opened #27 "##[error]Invalid JSON primitive: ."
[code]

Been getting this error lately and don't know why. Any help is appreciated.

[2020-01-27 17:33] shayki5 commented on #27
Hi,
Can you run it again with `system.debug` = `true` and share here the full log?
Thank you!

[2020-01-27 20:40] rszemplinski commented on #27
So I don't know why but the error just stopped happening... at least for now? I'll let you know if it comes up again and post the debug results.

[2020-01-28 10:15] shayki5 commented on #27
Great, thank you so much!

[2020-02-07 22:40] LoaderB0T opened #28 "Can't set Auto Complete to PR"
Hi all,

despite the stuff I read in the closed issues, I still have problems with the auto-completion.

Debug Log:
[code]

Something seems to be wrong with the body I guess?

I would appreciate if someone could have a look :)

Thanks,
Janik

[2020-02-09 08:35] shayki5 commented on #28
Hi @LoaderB0T,

Can you run this api in the browser `https://vssps.dev.azure.com/loaderb0t/_apis/graph/users?api-version=4.1-preview.1` and check in the results the id of `Project Collection Build Service`?

Thank you,
Shayki

[2020-02-09 08:36] shayki5 commented on #27
I close the issue, if it will occur again please re-open it :)

Thank you,
Shayki

[2020-02-09 08:36] #27 closed

[2020-02-09 10:49] LoaderB0T commented on #28
Hello @shayki5

I changed the ID in my pasted log file, as I didn't know if it is confidential information.

I just checked said URL and the originId of the Project Collection Build Service is the same as the original ID from the log (autoCompleteSetBy.id).

Do I need to pass the ID to you for further analysis? Is it actually confidential? :)

Thanks for your help

[2020-02-09 13:36] shayki5 commented on #28
Hi,
thanks for your replay!
Can you check in the git repository settings if there are permissions to this user?
![image](https://user-images.githubusercontent.com/26063853/74103095-e84cc180-4b51-11ea-9563-cceb5ec92833.png)

[2020-02-09 16:35] LoaderB0T commented on #28
The permission is set.
The pull request DOES get created, so I don't think its a permission problem. It just cannot be set to auto completed.
![image](https://user-images.githubusercontent.com/37637338/74105952-86e11e80-4b62-11ea-8485-054841091a48.png)

[2020-02-09 19:52] shayki5 commented on #28
Hi,
I understand... but do you have there a user `Project Collection Build Service (username)`? I don't see it in your screenshot.

[2020-02-09 22:30] LoaderB0T commented on #28
Oh, my bad.
I thought the "awdware Build Service (loaderb0t) would be the one.

I added the correct user but the result does not change.
![image](https://user-images.githubusercontent.com/37637338/74111239-8c0a9180-4b93-11ea-8eea-e7f42aa850ae.png)

The GUID of the 'Project Collection Build Service (username)' shown in the user selection in the repository config is the 'principalName', which is a d

[2020-02-10 14:40] interpeix opened #30 "Broken after 1.2.77"
Hi, after the upgrade of 1.2.77 version our pipeline is raising 400 error.

Here is the debug log:

`2020-02-10T14:28:21.3903799Z ##[section]Starting: Create Pull Request
2020-02-10T14:28:21.4003458Z ==============================================================================
2020-02-10T14:28:21.4003515Z Task         : Create Pull Request
2020-02-10T14:28:21.4003563Z Description  : Automatically

[2020-02-10 15:44] shayki5 commented on #30
Hi @interpeix,
Thank you for reporting that!
I indeed forgot to update the code when the target branch is with a wildcard (/*)...
I fixed it, please check now of it works :)

[2020-02-10 16:36] interpeix commented on #30
Cool @shayki5, it's fixed!! :)
Thanks for you quick response and support.

[2020-02-10 16:36] #30 closed

[2020-02-10 18:34] shayki5 commented on #30
You're welcome!
I glad it works :)

[2020-02-10 19:10] shayki5 commented on #28
The task uses the origin id. can you give me a read permissions to your project? I will try to investigate it.

[2020-02-10 20:41] LoaderB0T commented on #28
Thanks, I think I gave permissions to the email I found in your profile, is that the correct one?

[2020-02-10 20:48] shayki5 commented on #28
Thank you, I'm in :)
What is the failed pipeline?
And - is this manual/ci/schedule build?

[2020-02-10 20:56] LoaderB0T commented on #28
The pipeline is the one just called "awdware". It is configured as CI for every single commit. The only thing happening in there is triggering the pull request :)

[2020-02-11 07:43] shayki5 commented on #28
Ok, I found out what is the issue :)
I use the `System.AccessToken` to authenticate with Azure DevOps. From as I know, the `System.AccessToken` is a PAT token generated for the service identity `Project Collection Build Service (account)`, and I can see in my PR that is created with this username (`Project Collection Build Service (shaykia)`) so the autocomplete should be with the same username an

[2020-02-11 07:51] LoaderB0T commented on #28
Thanks for your reply.

I use the 'new' yaml pipes, I attached the configured yml.
[pr-awdware.yml.zip](https://github.com/shayki5/azure-devops-create-pr-task/files/4184548/pr-awdware.yml.zip)

I think I followed the instructions correctly and gave the usual variable for the PAT...

[2020-02-11 12:22] shayki5 commented on #28
I tried the yaml in my organization and it works well.
It's really wired why in your case he not uses the `Project Collection Build Service (loaderb0t)` user :/
I will try to check if I can get the id of the current build user, if it's impossible I will think of another solution.

[2020-02-11 13:14] shayki5 commented on #28
Hi again @LoaderB0T,
I fixed it! It was simple I thought and it also simplifies the whole code :)
Please try now and update if it works.

[2020-02-11 14:28] LoaderB0T commented on #28
Thanks for your fast replies!

At first I got a new error:

`##[warning]{"$id":"1","innerException":null,"message":"TF401027: You need the Git 'GenericContribute' permission to perform this action. Details: identity 'Build\\a2ec7871-b236-489b-b07e-83708791af0a', scope 'branch'.","typeName":"Microsoft.TeamFoundation.Git.Server.GitNeedsPermissionException, Microsoft.TeamFoundation.Git.Server","typeK

[2020-02-11 19:53] shayki5 commented on #28
Great! I glad it works :)
In the readme there is a picture regarding the permissions, I think it's enough, you can take a look.
Thank you for reporting this issue!

Kind regards,
Shayki

[2020-02-11 19:53] #28 closed

[2020-03-06 22:00] w0nders opened #31 "Can't work in Release pipeline"
extension correctly work with CI pipeline, but can't work in Release Pipeline, error about permission (permission to repo correct):
`##[error]{"$id":"1","innerException":null,"message":"TF401027: You need the Git 'PullRequestContribute' permission to perform this action. Details: identity 'Build\\4b2e01e1-3005-4ff3-af8d-e00fa54e7e46', scope 'repository'.","typeName":"Microsoft.TeamFoundation.Git.S

[2020-03-07 21:36] shayki5 commented on #31
Hi,
Thank you for reporting it!
Do you use Azure DevOps or Azure DevOps Server?
Do you use Microsoft hosted agent or Self-hosted agent?
Can you share the repository permissions page?

[2020-03-07 21:55] w0nders commented on #31
Hello

Azure DevOps Services (cloud)
MS hosted
screenshot in attachment

and also in CI pipeline extension correctly work, problem only in Release
pipeline

--
Alex

сб, 7 мар. 2020 г. в 22:36, Shayki Abramczyk <notifications@github.com>:

[2020-03-07 21:58] shayki5 commented on #31
Hi @w0nders,
I can't see the attachment :/

[2020-03-07 22:05] w0nders commented on #31
I uplod them to img hostimg:
https://imgur.com/a/Xljy8K8

please chect it

сб, 7 мар. 2020 г. в 22:58, Shayki Abramczyk <notifications@github.com>:

[2020-03-08 07:24] shayki5 commented on #31
Do you have another group/user under the `testapp Build Service`?

[2020-03-08 07:29] w0nders commented on #31
Hello

No!
If need, i can demonstrate my screen

вс, 8 мар. 2020 г. в 08:24, Shayki Abramczyk <notifications@github.com>:

[2020-03-08 08:39] shayki5 commented on #31
Try to give the permissions also the build service accounts.
If it will be failed, please run it with `system.debud` = `true` and share here the full log.

[2020-03-08 19:08] w0nders commented on #31
1) Permission PR set to any groups, and also add contribute - not result
2) I can't find where configuration debug in Release Pipeline, I add this
variables to Pipeline Variables tab (not work)

--
Alex

вс, 8 мар. 2020 г. в 09:39, Shayki Abramczyk <notifications@github.com>:

[2020-03-09 21:30] w0nders commented on #31
Hello

Do you have any ideas?

---
Alex

вс, 8 мар. 2020 г. в 20:08, Александр Новиков <w0nders@w0nders.com>:

[2020-03-10 10:59] shayki5 commented on #31
Hi,
Please add the variable `system.debug` with the value `true` to the variables tab and run the pipeline, share here the logs.
Thanks!

[2020-03-10 12:24] w0nders commented on #31
Hi

log file in attachment
--
Alex

вт, 10 мар. 2020 г. в 11:59, Shayki Abramczyk <notifications@github.com>:

[2020-03-10 20:20] shayki5 commented on #31
Hi,
I can't see the attachment :(

[2020-03-10 20:48] w0nders commented on #31
https://montcloud-my.sharepoint.com/:u:/g/personal/alnovikov_mont_com/EUEz3gXY8xVMvCOVJlWbVIcBpn7BVDG1bUtTUdeZQpkWUA?e=hYL11f

file listing:
2020-03-10T12:20:54.2641909Z ##[debug]Evaluating condition for step:
'Create Pull Request'
2020-03-10T12:20:54.2643795Z ##[debug]Evaluating: succeeded()
2020-03-10T12:20:54.2644355Z ##[debug]Evaluating succeeded:
2020-03-10T12:20:54.2645768Z ##[debug]=> True

[2020-03-11 18:54] shayki5 commented on #31
Thank you!
Did you check the checkbox on the job options `Allow scripts to acess the OAuth token`?

[2020-03-11 19:23] shayki5 commented on #31
@w0nders Please check this:
https://github.com/shayki5/azure-devops-create-pr-task/issues/28#issuecomment-584661744

[2020-03-11 19:56] w0nders commented on #31
YES !!!

С уважением
Новиков Александр
+7(903)135-46-98

ср, 11 мар. 2020 г. в 19:54, Shayki Abramczyk <notifications@github.com>:

[2020-03-11 23:19] w0nders commented on #31
full permission
you can see screenshots:
https://imgur.com/a/5MwPRMr

--
Alex

ср, 11 мар. 2020 г. в 20:55, Александр Новиков <w0nders@w0nders.com>:

[2020-03-12 15:12] bvandorf commented on #31
this worked for me https://github.com/Microsoft/azure-devops-node-api/issues/300#issuecomment-494165001
and then to get the auto complete to work i had to make sure these two settings where set
![image](https://user-images.githubusercontent.com/11463065/76535907-9e554500-6449-11ea-8e22-d69bdce417cf.png)

[2020-03-12 15:37] w0nders commented on #31
today MS support team recommend solution to resolve:

 Add the "Project Collection Build Service" user to the “Project Collection Build Service Accounts” security group and grant that group permission to "contribute to pull requests" on the project.

Sent from my iPhone

[2020-03-12 21:02] shayki5 commented on #31
@w0nders So it's solved the issue?

[2020-03-12 22:20] w0nders commented on #31
solved

Sent from my iPhone

[2020-03-13 09:17] shayki5 commented on #31
Great! So I close this issue.

[2020-03-13 09:17] #31 closed

[2020-03-16 09:58] w0nders commented on #31
2020-03-16T09:55:15.9895656Z
##[warning]{"$id":"1","innerException":null,"message":"TF401179: An active
pull request for the source and target branch already
exists.","typeName":"Microsoft.TeamFoundation.Git.Server.GitPullRequestExistsException,
Microsoft.TeamFoundation.Git.Server","typeKey":"GitPullRequestExistsException","errorCode":0,"eventId":3000}

пт, 13 мар. 2020 г. в 12:17, Shayki Abramczy

[2020-03-16 10:04] shayki5 commented on #31
The warning said that there is already PR for these source and target branches.
Check your Pull Requests page.

[2020-03-16 10:19] w0nders commented on #31
For 1 request generate some emails, why?
https://www.dropbox.com/s/vd5spfqjfiz54tx/%D1%81%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202020-03-16%20%D0%B2%2013.15.44.png?dl=0
[image: image.png]

пн, 16 мар. 2020 г. в 13:05, Shayki Abramczyk <notifications@github.com>:

[2020-03-16 11:04] shayki5 commented on #31
3 emails for the same PR?

[2020-03-16 11:13] w0nders commented on #31
yes

Alex

пн, 16 мар. 2020 г. в 14:04, Shayki Abramczyk <notifications@github.com>:

[2020-03-16 11:19] shayki5 commented on #31
I don't know why :(
Is it occurs every time?

[2020-03-17 21:29] kulmam92 opened #32 "(404) Not Found error when you add approver in Azure DevOps Server 2019"
I got (404) Not Found error when you add approver in Azure DevOps Server 2019

Below is the debug message
[code]

User Entitlements API doesn't exist in Azure DevOps Server 2019.
You may use "_apis/IdentityPicker/Identities" instead.
Would it be possible to fix this?

[2020-03-18 20:34] shayki5 commented on #32
Hi @kulmam92,

Thank you for reporting that!
It's wired, I quite sure I did it with `?api-version=4.1-preview.1` because Azure DevOps Server and it worked in the past, so maybe Microsoft removed the support in this version... :/
I will check how can I fix it.

Kind regards,
Shayki

[2020-03-18 21:05] shayki5 commented on #32
Hi @kulmam92  again :)
Please see issue #3 (I also mentioned it in the Known Issues), I don't remember why but I thought I fixed it, but now I see that is not tested and the commit that fixed it not so clear, so maybe it still an issue.
I will check if it could be fixed.

[2020-03-22 10:56] shayki5 commented on #32
Hi,
I think i fixed it but I can't test it, could you check if it works now?
(Check that you have the new version - 1.2.81)

[2020-03-23 17:55] kulmam92 commented on #32
@shayki5 I was able to test just now.

I encountered several issues.

1. Bug in  GetReviewerId
GitSample project was hardcoded.

2. Clinet authentication required error.

I created the System_AccessToken variable and granted the permission but still getting this error.
Therefore, I changed it to "-UseDefaultCredentials".

3. Team member search
This may be my environment setting but team members ar

[2020-03-24 10:11] shayki5 commented on #32
Hi @kulmam92,

Thank you so much for your comments and code!

1. My fault, I fixed it.

2. My fault again, system access token should work, I just didn't pass him, I fixed it.

3. In the task you should pass the email address in the reviewers field, I guess the email address are exist also, no?

I uploaded a new version now (1.2.82), please check if it works.
(I didn't use your code with the `-Use

[2020-03-25 22:20] Celimas opened #33 "Unable to add individual users as reviewers in Azure DevOps"
Hi,

I think this might be a similar issue to #32 with the userentitlements REST API not working, but in this case it's Azure DevOps and not TFS. When I run this task, it is able to successfully add teams as reviewers, but fails with individual users. I've pasted some debug output below and it looks like the team is successfully resolving to an id, but the id for a user (me: tymarkly@microsoft.com

[2020-03-26 07:56] shayki5 commented on #33
Hi @Celimas,
Thank you for reporting that!
Can you try run this rest api (even in your browser) - `https://vsaex.dev.azure.com/intentional/_apis/userentitlements?api-version=4.1-preview.1` and check if your email exist in the results?
In the past, is it worked for you? because I did some changes a few days ago.
Thank you!
Shayki

[2020-03-26 18:44] Celimas commented on #33
Ah, I think I see the problem. When I call that API I get the first 100 users (alphabetically) in our organization. Unfortunately, our organization has 3100+ users in it, so this only goes partway through the "A" names (it ends in the "Alex"s). This explains why it worked when I tested it on "Abram" but not on myself.

From the API documentation [here](https://docs.microsoft.com/en-us/rest/api/azu

[2020-03-27 11:37] WesselKroos commented on #33
We've got the same issue (I think). I was unable to verify the users list length, becuase I miss the rights to run the rest api in our organisation.

But removing the reviewers in the task fixed the problem for us.

[2020-03-27 13:46] shayki5 commented on #33
Hi @Celimas and @WesselKroos,
For a quick solution, I added `top=10000`, please update me if it solved the issue :)

[2020-03-27 20:20] Celimas commented on #33
@shayki5 the most recent version fixed the issue for me. Thank you!

[2020-03-27 20:22] WesselKroos commented on #33
Sounds good to me.
I'll be able to verify this fix in about 2 weeks when we have another release. So feel free to close this issue in the meantime.

[2020-03-28 18:46] shayki5 commented on #33
@Celimas - Great, thank you for your update!
@WesselKroos - Please update here if it's solved your error.

[2020-03-28 18:46] #33 closed

[2020-04-06 11:13] shayki5 commented on #32
Hi @kulmam92, could you check if it works for you?

[2020-04-06 15:16] SebastienChrist opened #34 "Error targeting Build.SourceBranch"
Hello,

When targeting $(Build.SourceBranch), the targetRefName contains refs/heads/ twice.

********************************************
Yaml
********************************************
- task: CreatePullRequest@1
  displayName: 'Create Pull Request'
  inputs:
    repoType: 'Azure DevOps'
    repositorySelector: 'select'
    projectId: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    gitRepo

[2020-04-06 15:50] shayki5 commented on #34
Hi @SebastienChrist,
Thank you for reporting it!
I fixed it :)
Please check now and update if it works.

Kind regards,
Shayki

[2020-04-06 19:58] SebastienChrist commented on #34
Yes, it works!
Thank you.
Seb

[2020-04-06 19:58] #34 closed

[2020-04-07 00:20] icharleston opened #35 "TF401027: You need the Git 'PullRequestContribute' permission to perform this action"
Hi,

I used your PR as a task in our Pipeline and I have encountered error below.

I have followed the Azure DevOps Repository guide.
- Ticked allow scripts to access the OAuth token
- Allow permission to the Build service account for Contribute Pull request

Only thing I did NOT setup is this yml since I don't know where to add it. I can't update your yaml in the release.
env:
   System_AccessTok

[2020-04-07 02:01] kulmam92 commented on #32
@shayki5 Unfortunately, it's not.
I got error due to this line.

`$teamUrl = "$($env:System_TeamFoundationCollectionUri)_apis/projects/GitSample/teams/$($_.id)/members?api-version=4.1"`

[2020-04-07 05:11] icharleston commented on #35
![image](https://user-images.githubusercontent.com/58074249/78632318-cd4cc280-78f2-11ea-9ef4-53a61e2df596.png)

[2020-04-07 06:49] shayki5 commented on #35
Hi @icharleston,

Could you check this https://github.com/shayki5/azure-devops-create-pr-task/issues/28#issuecomment-584661744 and this https://github.com/shayki5/azure-devops-create-pr-task/issues/31#issuecomment-598256240?
I think it can helps you :)

Kind regards,
Shayki

[2020-04-07 06:55] icharleston commented on #35
Hi @shayki5 ,

Thanks for your response! I will check it out.

I have a new error but my work email in AZDO is correct.

2020-04-07T06:25:18.2603151Z ##[error]{"$id":"1","innerException":null,"message":"Invalid argument value.\r\nParameter name:
The identity  is not recognized.","typeName":"Microsoft.TeamFoundation.SourceControl.WebServer.InvalidArgumentValueException,
Microsoft.TeamFoundation.Sou

[2020-04-07 07:24] shayki5 commented on #35
Where you put your email, in the reviewers?

[2020-04-07 07:34] shayki5 commented on #32
@kulmam92 Could you share the error please?

[2020-04-07 08:13] icharleston commented on #35
Yes! - myemail@domain.co.nz;

I have allowed "contribute to pull request" all user groups.

![image](https://user-images.githubusercontent.com/58074249/78645786-26752000-790c-11ea-9c16-6ce150396920.png)

2020-04-07T06:25:17.1679024Z The Source Branch is: refs/heads/dev
2020-04-07T06:25:17.1684301Z The Target Branch is: refs/heads/master
2020-04-07T06:25:17.1691520Z The Title is: Create Pull Reques

[2020-04-07 13:07] kulmam92 commented on #32
@shayki5 I got this error. GitSample should be an actual project name.

[2020-04-07 14:18] shayki5 commented on #32
Oh I missed it! Thanks.
I released a fix, could you check please?

[2020-04-07 20:11] shayki5 commented on #35
Without reviewers, it works or still got a permissions error?
And, could you please run it with `system.debug` = `true` and share here the logs?

[2020-04-07 23:26] kulmam92 commented on #32
@shayki5 I got this error.

[2020-04-07 23:47] icharleston commented on #35
Without reviewers. I got the error below...

2020-04-07T09:48:27.7667026Z ##[error]{"$id":"1","innerException":null,"message":"TF401027: You need the Git 'PullRequestContribute' permission to perform this action. Details: identity 'Build\\8ea776f8-44ff-4a9c-acaf-5a0b6553bf20', scope 'repository'.","typeName":"Microsoft.TeamFoundation.Git.Server.GitNeedsPermissionException, Microsoft.TeamFoundation

[2020-04-08 14:04] MartinDemberger opened #36 "Unicode-Character in Title isn't used correct in Azure DevOps"
I added the unicode character 🔀 as first symbol of the title but it isn't printed correctly in Azure DevOps.

I create the Pull-Request with
[code]
 The symbol is printed in the pull-request as `??`.

I also tried
[code]
But this leads to a pull request `&#128256; Automatic Merge from master`

I'm able to change the title in DevOps to the Unicode which is rendered correctly.

How can I use this Un

[2020-04-09 20:19] shayki5 commented on #32
Thanks, @kulmam92!
It was a small bug in one of the brackets... I fixed it, please check now :)
Thank you so much!

[2020-04-09 20:49] shayki5 commented on #35
@icharleston did you try to add the "Project Collection Build Service" user to the “Project Collection Build Service Accounts” security group?
BTW - do you use it in a build or in a release?
In the variables add a variable `system.debug` and the value `true`.

[2020-04-09 21:20] shayki5 commented on #36
Hi @MartinDemberger,

Thank you for reporting it!

I fixed it and I uploaded a new version, could you check, please?

Kins regards,
Shayki

[2020-04-09 22:59] kulmam92 commented on #32
@shayki5
It's working now. Thank you for fixing this.

[2020-04-09 22:59] #32 closed

[2020-04-10 14:29] MartinDemberger commented on #36
Thank you very much. It's working now. Wow, you are extreme fast.

[2020-04-10 14:29] #36 closed

[2020-04-12 06:33] shayki5 commented on #32
@kulmam92 You're welcome :)
Thank you for reporting the issue!

[2020-04-12 06:34] shayki5 commented on #36
@MartinDemberger You're welcome :)
Thank you for reporting the issue!

[2020-04-12 12:38] icharleston commented on #35
- "Project Collection Build Service" user to the “Project Collection Build Service Accounts”  - Yes I tried that but no luck
- I used in a release... So your create PR task cannot edit the YAMlL to add the debug.. where to add the system.debug? variable in the release pipeline?

Thanks!

[2020-04-12 12:45] shayki5 commented on #35
@icharleston Yes, in the release pipeline, you have "variables" tab. can you see it?

[2020-04-14 14:48] SebastienChrist opened #37 "Pull request created even if there are no changes to merge between the selected branches"
Hello,

On dev.azure.com, you cannot create a new pull request if there are no changes to merge between the selected branches.

With the create-pr-task, a pull request is created. Then, you should close or abandon the pull request.
A message in the log should be enough in this case.

Regards,

![PR_WithNoChanges](https://user-images.githubusercontent.com/54934004/79238494-bae10480-7e6f-11ea-83b7-6

[2020-04-14 15:01] shayki5 commented on #37
Hi @SebastienChrist,
You are right! I will fix it soon :)
Thank you!

[2020-04-22 20:20] shayki5 commented on #37
Hi @SebastienChrist,
I fixed it :)
Please try now and update if you get a warning instead of a PR.

[2020-04-23 02:31] krishnamohan1 commented on #35
Hi @shayki5

I am trying to create a pull request in another project from the other project pipeline.
Example: I have two projects XYZ and ABC

My Job is running in XYZ and trying to create a pull request in ABC. I have done the below

1. Project ID
2, Repository ID
3. Limits the authorization disabled.
4. For permission to provide, I am unable to see the system user-created(it has only happened w

[2020-04-23 12:26] SebastienChrist commented on #37
Hi @shayki5,

Thank you, it works ! 👍
The task has Success Status and a warning appears in the log

`##[warning]{"$id":"1","innerException":null,"message":"TF401179: An active pull request for the source and target branch already exists.`

[2020-04-23 12:26] #37 closed

[2020-04-23 13:57] shayki5 commented on #35
@krishnamohan1 Can you give ma permissions to your organization?

[2020-04-23 22:25] krishnamohan1 commented on #35
Hi @shayki5 - it is in my client network I cannot provide access to the organization.

Any suggestion for your end?

[2020-04-27 23:21] krishnamohan1 commented on #35
Hi, @shayki5- I replicate the same error in my local trail azure instance,

Do let me know your id. I will provide access to you and let me know the best time I will also connect with you

Thanks,
Krishna Mohan

[2020-04-28 06:38] shayki5 commented on #35
Hi @krishnamohan1, my id is: shayki5@gmail.com
I live in Israel, where do you live?
Thank you!

[2020-04-28 07:42] krishnamohan1 commented on #35
@shayki5 I invited you to my organisation and provided the required access.

Have sent an email

I live in Melbourne, Australia

[2020-04-28 23:19] krishnamohan1 commented on #35
@shayki5 Thanks a ton for your time. The issue has been resolved in both my local and Client organisation.

Normally people will face this error in below scenarios
1. Create a pull request with in the project
2. Create a pull request from one project to another project.

**Problem 1:** When you try to create a pull request with your automated job within the project. if you face "PullRequestContrib

[2020-04-29 09:03] shayki5 commented on #35
Thank you so much for the detailed explanation!

[2020-04-29 09:03] #35 closed

[2020-04-29 19:58] slandsaw commented on #6
What if you still want a pull request to be created?

[2020-04-29 20:02] slandsaw commented on #6
In other words, would it be possible to create a new PR even if there is already an open one?

[2020-04-29 20:10] shayki5 commented on #6
Hi @slandsaw, it impossible due to Azure DevOps limitation:
![image](https://user-images.githubusercontent.com/26063853/80642154-a2c3d480-8a6e-11ea-8f63-cf5d7c0afc3e.png)

[2020-04-29 20:36] slandsaw commented on #6
Thank you for the speedy reply!

[2020-05-06 18:42] prma85 opened #38 "Not working for github PRs"
Hey, I like the idea of this task, but it is not working for me

[code]

When using it, I am getting the error:
`You cannot call a method on a null-valued expression.`

[2020-05-06 19:24] shayki5 commented on #38
Hi @prma85!
Thank you for reporting that!
Could you run the pipeline with the variable `system.debug` = `true` and share here the logs?
And, could you try to put the `master` in quotes - `'master'`?

[2020-05-06 22:11] prma85 commented on #38
This is the YAML generated from using the task in the Release pipeline
I didn't have the quotes for any of the branches, but now that you mentioned it, it is weird that the the `targetBranch` is the only one not putting the quotes automatically when clicking in the `view YAML`

I will try this out 👍

[2020-05-07 07:33] shayki5 commented on #38
@prma85 oh it's from a release pipeline? I think this is the reason, Azure DevOps not know which GitHub repo you want to create the PR.
I will check if I can fix it (for Azure Repos it works also from releases).
Anyway, I would love to get the logs.
Thank you!

[2020-05-13 14:48] shayki5 commented on #38
Hi @prma85,
I fixed it :)
I uploaded a new version, now you can choose your GitHub repo and it should work :)
Please check and update.

Kind regards,
Shayki

[2020-05-13 15:00] TheFairey opened #40 "Make approvers required not optional"
Hi,

Got this working and it's perfect so thanks, one request, is there a way to make the approvers required rather than optional when you create the pull request?

Cheers

Si

[2020-05-13 15:06] shayki5 commented on #40
Hi @TheFairey,

I glad you enjoy the task :)
The problem is, if I will do it required it will affect everybody who use the task and I don't know if they want it...
I will keep this issue open for a while, if more people will comment that they want it I will consider to make it required.
Is it make sense?

Kind regards,
Shayki

[2020-05-13 15:11] TheFairey commented on #40
I understand, could we maybe have 2 entry fields instead of one and have one for required approvers and one for optional?

[2020-05-13 15:12] TheFairey commented on #40
that way it would be backwards compatible as the new field would be for required approvers only?

[2020-05-13 15:15] shayki5 commented on #40
But same issue - pipelines with this task or new pipelines will be required to put approvals in the new field.

[2020-05-13 15:16] TheFairey commented on #40
Can you make the required approvers an optional field? Sounds odd I know to make a required thing optional but I think it would make sense?

[2020-05-13 15:25] shayki5 commented on #40
What do you mean 'required approvers'? that in the PR they will be require to approve?

[2020-05-13 15:27] TheFairey commented on #40
Correct so they appear in required rather than optional here
![image](https://user-images.githubusercontent.com/900332/81832633-bf4f1a80-950c-11ea-8b83-0ef4fab766e7.png)

[2020-05-13 18:46] shayki5 commented on #40
@TheFairey Oh! it looks like something new:
https://devblogs.microsoft.com/devops/introducing-the-new-pull-request-experience-for-azure-repos/
I will add another field for the required :)

[2020-05-13 20:23] prma85 commented on #38
Nice, thanks for doing it

I wasn't able to test it yet because the team was dropped the automated PR project and we trying to use dependable for what we need (internal packages)

But out use case was creating a new Branch, doing changes and pushing it in the release pipeline
So, in the end, we would be creating the PR from the pipeline

So, it wouldn't be the case of selecting the branch as it wo

[2020-05-14 07:11] shayki5 commented on #38
Thanks for your response!
I not added branch selecting, I added repo selecting.
I will keep this issue open for a while, I wish you could test it :)

[2020-05-14 11:35] shayki5 commented on #40
Hi @TheFairey,
I uploaded a new version :)
Now, if you want to add a required reviewer you need to add `req:` before.
For example:
`req:test@gmail.com`
Please test it and update me if it works well for you.

Best regards,
Shayki

[2020-05-14 13:40] TheFairey commented on #40
Awesome thanks will take a look later today

[2020-05-14 17:29] TheFairey commented on #40
tried it earlier and it failed but not some more updates so will try again now

[2020-05-14 17:35] shayki5 commented on #40
ok, thanks. if it failed please post here the error.

[2020-05-14 17:43] TheFairey commented on #40
Worked great thanks

[2020-05-14 17:43] #40 closed

[2020-05-15 07:54] WesselKroos commented on #33
@shayki5 We still got the error today.
Here is our event log:

[code]

[2020-05-15 14:53] shayki5 commented on #33
Hi,
I made some changes to the reviewers section, can you share the task configuration? (YAML or screenshot from the old UI pipelines)
Thank you!

[2020-05-15 15:32] WesselKroos commented on #33
Sure, here you go:
[code]

Yes, these 3 users are the same type and have the same access levels as me in the Azure DevOps project and are of the type "aad user" in the permissions settings of the project.

[2020-05-16 19:03] shayki5 commented on #33
@WesselKroos Thanks!
Please try without spaces between the reviewers:
`    reviewers: 'xxxxxx.xxxxx@xxxxxxxx.xx;xxx.xxxxxxxxx@xxxxxxxx.xx;xxxx.xxxxxxxx@xxxxxxxx.xx'
`

[2020-05-19 09:52] WesselKroos commented on #33
@shayki5 Spaces between the reviewers was indeed the problem. Thanks for the fix!

[2020-05-19 10:02] shayki5 commented on #33
@WesselKroos Great :)
You're welcome!

[2020-05-19 12:29] jsmesquita opened #42 "PR with special character # not working"
When I creating PR with a source branch name that contains this character # I'm getting:  The remote server returned an error: (404) Not Found.

![2020_05_19_09_26_02_API ChatbotUnidas Blip CD_API ChatbotUnidas Blip CD_81_Pipelines](https://user-images.githubusercontent.com/24892301/82326411-28bea580-99b3-11ea-826e-be29febd2df9.jpg)

[2020-05-20 08:06] shayki5 commented on #42
Hi @jsmesquita
Thank you for reporting it!
I will check it and will update you.

[2020-05-20 09:34] shayki5 commented on #42
@jsmesquita I fixed the bug :)
Please try now if it works for you.

[2020-05-24 07:11] shayki5 commented on #38
Close it for now.
If someone still facing an error please update :)

[2020-05-24 07:11] #38 closed

[2020-05-26 17:57] mgSDBB opened #43 "Object reference not set to an instance of an object"
![image](https://user-images.githubusercontent.com/32093007/82934047-2ea42000-9f8b-11ea-9cae-a86719b8d1e4.png)

26-05-26T17:53:09.4059963Z ##[error]{"$id":"1","innerException":null,"message":"Object reference not set to an instance of an object.","typeName":"System.NullReferenceException, mscorlib","typeKey":"NullReferenceException","errorCode":0,"eventId":0}

[2020-05-26 19:18] shayki5 commented on #43
Hi @mgSDBB,
Can you run it again with the variable `system.debug` = `true` and share here the logs?

[2020-05-26 19:51] mgSDBB commented on #43
2020-05-26T19:47:38.9039548Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2020-05-26T19:47:38.9040511Z ##[debug]Evaluating: succeeded()
2020-05-26T19:47:38.9040625Z ##[debug]Evaluating succeeded:
2020-05-26T19:47:38.9040816Z ##[debug]=> True
2020-05-26T19:47:38.9041012Z ##[debug]Result: True
2020-05-26T19:47:38.9041254Z ##[section]Starting: Create Pull Request
2020-05-26T19:47:38.

[2020-05-27 09:23] shayki5 commented on #43
Can you try without reviewers?

[2020-05-27 09:23] #42 closed

[2020-05-27 11:41] mgSDBB commented on #43
Azure DevOps Server
Version 17.143.28912.1

I tried without reviewer, however the problem is still the same.

Pull requests seems to be created but not completed
![image](https://user-images.githubusercontent.com/32093007/83014843-b8053200-a01f-11ea-85ed-e7e5c65802cd.png)

I have to reject it and abandon it.

2020-05-27T11:38:43.8403435Z ##[debug]Evaluating condition for step: 'Create Pull Request

[2020-05-27 11:44] shayki5 commented on #43
Oh, do you try yo auto-complete?
Can you share your task configuration?

[2020-05-27 12:03] mgSDBB commented on #43
Hi,
Yes I tried Auto-complete

[cid:image001.png@01D6342F.879C8F20]

.

[2020-05-27 12:05] mgSDBB commented on #43
![image](https://user-images.githubusercontent.com/32093007/83016999-28618280-a023-11ea-8f10-59fb75f142c5.png)

[2020-05-27 12:07] mgSDBB commented on #43
May it be around the work items because
"includeWorkItems":  "true"
and
    $jsonBody = ConvertTo-Json $body
    Write-Host $jsonBody
the WorkItemsList is null?
 {
     "sourceRefName":  "refs/heads/develop",
     "title":  "Deploy Test",
     "WorkItemRefs":  [
                          null
                      ],
"description":  "Deploy Test",
     "reviewers":  "",
     "isDraft":  "False",

[2020-05-27 12:15] shayki5 commented on #43
Try without the work items and if it not work try without the auto complete.
Thank you!

[2020-05-27 12:28] mgSDBB commented on #43
Ok it is working without the work items. The collection shouldn't be null.

[2020-05-27 13:35] shayki5 commented on #43
It's wired, in my case is working without work items even I check the  "link work items", but it's in Azure DevOps and not Azure DevOps Server.

[2020-05-27 15:21] jsmesquita commented on #42
It works! Thank you so much!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shayki Abramczyk <notifications@github.com>
Sent: Wednesday, May 27, 2020 6:23:32 AM
To: shayki5/azure-devops-create-pr-task <azure-devops-create-pr-task@noreply.github.com>
Cc: jsmesquita <jefferson_mesquita@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [shayki5/azure-

[2020-05-27 15:43] shayki5 commented on #42
Great! You're welcome :)

[2020-06-01 17:54] ReshimVse opened #44 "AzureDevOps: Incorrect "commitMessage" option in "SetAutoComplete""
Hi, @shayki5!

I noticed that "commitMessage" does not apply to "SetAutoComplete" in AzureDevOps.
I researched this case and found an error with option:
![image](https://user-images.githubusercontent.com/44438320/83434486-47a54900-a443-11ea-940c-b9733900cb6f.png)

**Microsoft Docs**:

- https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20requests/update?view=azure-devops-rest-5.1

Ca

[2020-06-01 19:59] shayki5 commented on #44
Hi @ReshimVse,
Thank you! look like you're right!
Could you open a Pull Request with your fix?

[2020-06-01 20:12] ReshimVse commented on #44
@shayki5 Done!
https://github.com/shayki5/azure-devops-create-pr-task/pull/45/files

[2020-06-01 20:12] #44 closed

[2020-06-01 20:14] shayki5 commented on #44
Great!
It will be in production in 15 minutes :)

[2020-06-06 21:33] blakito opened #46 "Cannot process argument because the value of argument "path" is null. Change the value of argument "path" to a non-null value."
Hi mate. Congrats for the great work.

Im having an issue with my pipeline. The full debug log is below.

Couldn't find any path variables and messing with source/target repositories didnt worked also.

Thanks in advance

2020-06-06T21:27:17.1744134Z ==============================================================================
2020-06-06T21:27:17.1744569Z Task         : Create Pull Request
2020-0

[2020-06-06 23:52] blakito commented on #46
PS. Im using it on a release Pipeline, right after deploying and swapping slots

[2020-06-07 00:06] blakito commented on #46
PS2. Only happends with multiple target branches. Took a look on the line 57 of source code and figured it out. Unfortunately i really need this feature :(

[2020-06-07 07:54] shayki5 commented on #46
Hi @blakito,
Thanks for reporting that!
You're right, the line 57 is problematic in release pipelines, I fix it :)

[2020-06-07 14:14] shayki5 commented on #43
Can't reproduce the issue, closing.

[2020-06-07 14:14] #43 closed

[2020-06-07 14:46] shayki5 commented on #46
Hi again,
I fixed it :)
Please try now.

[2020-06-07 22:14] blakito commented on #46
Thank you very much! It's working great.

I had a permission problem because by default my "Git Repositores" permissions only had the user "Project Build Service (Project)". Giving it "Pull request" wasn't enought:
2020-06-07T21:24:06.6496375Z ##[error]{"$id":"1","innerException":null,"message":"TF401027: You need the Git 'PullRequestContribute' permission to perform this action. Details: identity

[2020-06-07 22:14] #46 closed

[2020-06-08 06:41] shayki5 commented on #46
@blakito Great! thanks for the update!
I will update the docs with your info regarding the user Project Collection Build Service (Project).

[2020-06-16 05:41] SrivathsanJ opened #49 "Unable to connect to Remote Error"
Hello,

I am trying to use this task for azure devops git repo. It is throwing
1. Unable to connect to Remote error on self hosted agent (Windows)
2. The remote server returned 404 error on Hosted agent (Windows)
I have added the option to use OAuth in Agent job
Allowed contribute to Pull request permission to build users.
Can you help out in understanding why i am getting this error.

[2020-06-16 06:26] shayki5 commented on #49
Hi @SrivathsanJ, could you share here the task configuration and also run it with `system.debug` = `true` and share the logs?

[2020-06-16 07:06] SrivathsanJ commented on #49
i have used the basic configurations. Build.SourceBranch as source and master as target.
For some reason $(Build.SourceBranch) is not getting the value. it is not showing the branch value in the logs. could this be the issue ?

[2020-06-16 07:14] shayki5 commented on #49
I can't know without seeing the configurations and the logs...

[2020-06-16 09:56] SrivathsanJ commented on #49
PFA the logs you had asked. I have masked Org id and Project ID. Rest all are the same.
Build.SourceBranch and Build.SourceRepo variables are not getting replaced with values. So i added the actual branch name in the task
[PR_Task_Log.log](https://github.com/shayki5/azure-devops-create-pr-task/files/4785841/PR_Task_Log.log)

[2020-06-16 10:14] shayki5 commented on #49
Thank you!
If you enter this url `https://My_ORG.visualstudio.com/Project_ID/_apis/git/repositories/Repo_ID/diffs/commits?baseVersion=Release_2&targetVersion=master&api-version=4.1&$top=2` in the browser, do you get results? (replace with your real org/project/repo/ ID)

[2020-06-16 10:18] SrivathsanJ commented on #49
yes. i get the commit differences

[2020-06-16 11:18] shayki5 commented on #49
Please see issue #21, it because you use the old URL, can you run it again? (it should work after you logged-in in the browser)

[2020-06-16 11:41] SrivathsanJ commented on #49
The Old url api call is working when i try locally in my browser. and i have another org with my personal account which is using the same pattern and works fine in the release pipeline.
strange. let me try this now and update.
Thanks

[2020-06-16 12:11] SrivathsanJ commented on #49
It's creating the pull request now.. However, my self hosted agent is is still using the old url(even on a new release). Hosted agents are able to pickup new url and create PR. But the build.sourcebranch and build.sourcerepo variables are not retuening the values. I had to manually select the repo and branch name. Is there way to get it working..
Thanks

[2020-06-16 12:53] shayki5 commented on #49
So it works now when you specify the values?
BTW - there is no pre-defined `build.sourcerepo` variable.

[2020-06-16 13:08] SrivathsanJ commented on #49
yes. if i manually specify the branch name and select Repo name for "Repository to use" instead of "current repository build".
I was actually referring to "$(Build.Repository.Name)" that's also no retrieving the value

[2020-06-16 13:39] shayki5 commented on #49
And also $(Build.SourceBranch) not working?

[2020-06-17 04:43] SrivathsanJ commented on #49
Yes. that is not also not working. I had to manually enter the branch

[2020-06-18 14:07] shayki5 commented on #49
@SrivathsanJ could you share exactly your configuration? it's in a release pipeline?

[2020-06-18 15:19] SebastienChrist opened #50 "Error with reviewers of type Group"
Hi,

As we discuss together, I tried to use a group not a team for reviewers but it does not work. I just want to notify the developers of the team (not all the team).

Regards,

[2020-06-21 13:43] shayki5 commented on #50
Hi @SebastienChrist,
I fixed it :)
Could you try now and check if it works?

Kind regards,
Shayki

[2020-06-22 12:11] SebastienChrist commented on #50
Hi Shayki,

I have an error.
See the log below :

2020-06-22T12:07:53.9703034Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2020-06-22T12:07:53.9705293Z ##[debug]Evaluating: succeeded()
2020-06-22T12:07:53.9705811Z ##[debug]Evaluating succeeded:
2020-06-22T12:07:53.9706870Z ##[debug]=> True
2020-06-22T12:07:53.9707463Z ##[debug]Result: True
2020-06-22T12:07:53.9708068Z ##[section]

[2020-06-22 12:45] shayki5 commented on #50
It's wired, I success to create the PR with a group as reviewers.
I fixed a small bug, I don't know if it's related, but can you try again now?

[2020-06-22 13:39] SebastienChrist commented on #50
I still have an error ☹

I tried with “Shopping_dev” and “[Retail]Shopping_Dev”
When I use “Shopping” (the name of the team) it does not work anymore.
See the attached logs.

[cid:image001.png@01D648AA.B1BA38E0]

[cid:image003.png@01D648AB.5A40EC20]

Regards,

Sébastien Christ
Scrum Master
Customer Support Level 3

+33 (0)4 99 62 32 67

cegid.com<https://www.cegid.com/>

De : Shayki Abramczyk <not

[2020-06-23 08:30] SebastienChrist commented on #50
Ok the last fix works fine. I can use Groups for pull request notifications now!
Thanks a lot.

[2020-06-23 08:30] #50 closed

[2020-06-24 14:58] puremcc opened #51 "REST call to commitsBatch is failing with: "Microsoft Internet Explorer's Enhanced Security Configuration is currently enabled on your environment....""
When I run this with system.debug=True, I get the following error message on the step:

##[debug]POST https://dev.azure.com/MYORG/90b82c25-01be-489a-8d49/_apis/git/repositories/a4a02d21-ba3c-4fc5-b90b/commitsBatch?api-version=4.1 with -1-byte payload

I'm not sure if I will be able to change this configuration on my company's build agents. Is there possibly something else I can do, or that I'm mis

[2020-06-25 05:42] shayki5 commented on #51
hI @puremcc,
If you now link the work items is it works? or you get the same error in another API call?

[2020-06-25 16:41] puremcc commented on #51
The log above was from a run where I had the `Link work items` option checked (True).
I have now tried running with the `Link work items` option unchecked (False), and I no longer see any error, but the PR still does not get created.

[2020-06-26 07:04] shayki5 commented on #51
Thanks for the info.
Can you run the pipeline with `system.debug` = `true` and share here the logs?

[2020-06-26 12:10] PaulIvan commented on #49
I've got a similar issue when trying to create PR's from github to Devops. allowed token and all settings but failing at the same line. any clue?
[checkout-from-github.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/4836790/checkout-from-github.txt)
[createpr-devops.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/4836791/createpr-devops.txt)

[2020-06-27 19:21] shayki5 commented on #49
Hi @PaulIvan, I see in your logs `INPUT_REPOTYPE: 'Azure DevOps'`, but it should be GitHub, can you check?

[2020-06-29 07:37] PaulIvan commented on #49
if I select Github, it will try to push the PR on github I don't need that. I want the PR to be published in Devops from Github

[2020-06-29 07:39] shayki5 commented on #49
@PaulIvan what do you mean "PR to be published in Devops from Github"? where is the repo?

[2020-06-29 08:05] PaulIvan commented on #49
The scenario is the following:

- I have this test repo on my github. https://github.com/PaulIvan/ALAppExtensions/
- Whenever a PR is made against this github repo a pipeline is triggered in Devops using the azure github connector
- I want the pipeline task to push the content of the github PR in a duplicate repo in devops (which I already made) as another PR

Is that not something this extension

[2020-06-29 08:18] shayki5 commented on #49
@PaulIvan I'm sorry but not :/
You should clone the repo from GitHub to Azure DevOps and update it there in an automated way (each commit to GitHub will update the repo in Azure DevOps - you can create a build for that), when all the repo will be in Azure DevOps you can use the extension to create the PR in Azure DevOps (not from GitHub, from branch and to branch both in ADO).

[2020-07-02 09:07] shayki5 commented on #51
After Mike shared the logs with me we noticed it's was a permissions issue.

[2020-07-02 09:07] #51 closed

[2020-07-03 15:52] upendertiwari opened #52 "Pull Request dosent gets created after successfully execution of the task in azure devops"
Hi ,

We are using  this "CreatePull Request" task to create a pull request to master after completion of deployment to a stage , the task gets executed successfully however there is no pull request getting created.

Success screen shot
![image](https://user-images.githubusercontent.com/53815920/86483949-c3602180-bd72-11ea-8fc1-075d7ef5bfe7.png)

[LogsForCreatePull.txt](https://github.com/shayki5/

[2020-07-05 06:16] shayki5 commented on #52
Hi @upendertiwari!
Did you give the permissions with the Access Token?
Can you run the pipeline with `system.debug` = `true` and share again the logs?

[2020-07-05 14:08] shayki5 commented on #49
Closing because there is no more info from the issue opener.

[2020-07-05 14:08] #49 closed

[2020-07-06 09:24] upendertiwari commented on #52
Yes, however i see below error when i enabled the system.debug=true,
ERROR : Microsoft Internet Explorer&#39;s Enhanced Security Configuration is currently enabled on your environment. This enhanced level of security prevents our web integration experiences from displaying or performing correctly. To continue with your operation please disable this configuration or contact your administrator.

can

[2020-07-06 09:39] shayki5 commented on #52
@upendertiwari thanks.
I still see in the response like you don't have permissions.
Do you use YAML build or the classic editor build?

[2020-07-07 15:25] upendertiwari commented on #52
Hi,

I am using classic editor build. Can you provide me which permission i don't have and where to locate them. So that i can contact the admin to get the permissions.

[2020-07-07 15:42] shayki5 commented on #52
Maybe it's indeed related to the error you mentioned:
`ERROR : Microsoft Internet Explorer's Enhanced Security Configuration is currently enabled on your environment. This enhanced level of security prevents our web integration experiences from displaying or performing correctly. To continue with your operation please disable this configuration or contact your administrator.`
Can you try to run it

[2020-07-08 10:18] Bakkiya8 opened #53 "Unable to create pull request"
Hey shayki5!!

I have tried to create the pull request using classic editor using "Create Pull Request".

Steps i have followed`
I have provided create pull request---allow in project settings repositories
Enabled Allow scripts to access the OAuth token
added task in class editor.

 Task ran successfully but the pull request is not created.

guide me where i need to provide the PAT.

Getting this

[2020-07-08 12:34] shayki5 commented on #53
Hi @Bakkiya8!
Could you run it again with `system.debug` = `true` and share here the full log?

[2020-07-09 21:25] AlexVasiukov opened #54 "Multistring Description"
Dear Shayki5,
Are there any options to create PR with multi-line description? As I know, multistring output vars are not allowed in ADO. We also cannot use powershell string functions in CreatePullRequest@1. Am I missed something?
Thanks in advance!

[2020-07-10 12:39] shayki5 commented on #54
Hi @AlexVasiukov,
You can put a multiline description with `<br/>`.
For example:
![image](https://user-images.githubusercontent.com/26063853/87155353-7d034900-c2c3-11ea-988b-9a582c8d4764.png)
Result:
![image](https://user-images.githubusercontent.com/26063853/87155368-82f92a00-c2c3-11ea-9619-a083fe4bfb46.png)

[2020-07-14 18:20] puremcc commented on #51
Thanks @shayki5 for you help and prompt email responses! Great extension. Very valuable for me and my client.

Note to others who may run into a similar issue: you may also need to grant  the build service account Contributor permission on the target **project** in addition to the target **repo**.

[2020-07-20 09:19] shayki5 commented on #54
@AlexVasiukov did you try it?

[2020-07-20 12:31] AlexVasiukov commented on #54
Hello @shayki5,
Yes. I tried and it's work both in cloud and on-prem Azure DevOps.
Thanks a lot! Much appreciate!

[2020-07-20 12:32] shayki5 commented on #54
@AlexVasiukov Great 😀
Thank you for the update!

[2020-07-20 12:32] #54 closed

[2020-07-22 07:32] wouterroos opened #55 "Feature request: Possibility to set pull request creator"
Hi,

First of all, great work on creating this task! It really helps us in achieving some of the more complicated flows in Azure DevOps. I was wondering if it is possible to change the 'creator' of the pull request to a specific user (e.g. by email address). Currently, the pull request is always created by the 'Project Collection Build Service' user/identity. This makes sense from a technical poin

[2020-07-22 14:09] shayki5 commented on #55
Hi @wouterroos,
It's a good idea! I start to work on it :)

[2020-07-22 16:31] wouterroos commented on #55
@shayki5 great, looking forward to it! I've looked at the DevOps API spec and it should be possible. Other tasks usually allow you to supply the email address of the user so that would be great. Let me know if you need any assistance.

[2020-07-23 06:50] shayki5 commented on #55
@wouterroos I tried to implement it with:
[code]

But the PR still created with the build user.
When I looked in a real call in the browser when I create manually a PR  see that the `createdBy` didn't pass in the JSON.
I made some research and I came to this issue:
https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/403

So, for now it looks like it's impossible to override the PR creator.

[2020-07-23 07:12] wouterroos commented on #55
@shayki5 that's a shame. I upvoted the issue you mentioned so that it might get some visibility. I guess we have to wait for a response from Microsoft...

[2020-07-23 07:18] wouterroos commented on #55
@shayki5 also see: https://developercommunity.visualstudio.com/content/problem/459964/changed-createdby-with-git-create-pull-request-api.html

[2020-07-23 07:42] shayki5 commented on #55
@wouterroos the problem is Microsoft doesn't respond to the issues there :(
Maybe it worth open a new request in https://developercommunity.visualstudio.com

[2020-07-23 17:57] BhargaviAnnadevara-MSFT commented on #52
@shayki5 I ran into the exact same issue and running without the checkbox of "link work items" did not help.
There are no errors in the logs (even with debug enabled) and the build pipeline also succeeded. Any guidance on how to troubleshoot this further?

[2020-07-23 19:06] shayki5 commented on #52
Hi @BhargaviAnnadevara-MSFT, could you share the logs here?
Did you grant the permissions?

[2020-07-23 20:23] BhargaviAnnadevara-MSFT commented on #52
Hello @shayki5, Thanks for the quick response! Apologies, looks like the permissions were missed while cloning the pipeline. I am able to see the Pull request being created now. And also able to add reviewers and link work items. Will test auto-complete and get back.

One quick question now would be:
Can I target the PR to multiple branches separated by a semicolon or comma?
_For example:_ Create

[2020-07-23 20:30] shayki5 commented on #52
Hi @BhargaviAnnadevara-MSFT,
I'm happy you success to create the PR :)
The multi-target branch works in this way:
`release/*` - will create for `release/1` and `release/1`
2 totally name different branches should be interesting also, I can check if I can add this feature.

[2020-07-23 20:52] BhargaviAnnadevara-MSFT commented on #52
@shayki5 Correct. Sure, it would be really helpful if this can be supported. Thank you!

[2020-07-26 13:29] shayki5 commented on #52
Hi @BhargaviAnnadevara-MSFT,
I added this feature 😀
Now you can specify multi-target branch with `;` - for example: `dev;master`.

[2020-08-03 09:27] shayki5 commented on #52
@BhargaviAnnadevara-MSFT did you check the last version?

[2020-08-03 09:28] shayki5 commented on #53
@Bakkiya8 do you still facing an issue?

[2020-08-03 11:20] BhargaviAnnadevara-MSFT commented on #52
@shayki5 This is great! Thank you very much for the quick implementation.
I haven't had a chance to test it out yet, but will do soon and let you know. Thanks again!

[2020-08-06 01:44] blakito opened #58 "Multi-target Branch not working"
Hi mate!

It used to work, but stopped suddently.
I have three sub-branches under my /development.
It seems to ignore all the other branches and try to "merge" only itself.

2020-08-06T01:33:54.9105831Z The Source Branch is: refs/heads/development/master
2020-08-06T01:33:54.9124614Z The Target Branch is: refs/heads/development/master
2020-08-06T01:33:54.9222902Z The Title is: AUTO MERGE BACK --- /

[2020-08-06 15:18] shayki5 commented on #58
Hi,
It looks like you put in the source and in the target branch the `master` branch.
Can you check?

[2020-08-07 03:14] blakito commented on #58
Hey there!

Its configured as the picture attached;
![image](https://user-images.githubusercontent.com/14265421/89604958-bd160700-d842-11ea-9da3-426cd19f93b8.png)

The intention is, when someone commits something to /development/master, it should merge back to all /development/* sub-branches to keep them updated with the last master commit.

It used to work. Really. Maybe not 100% - it sometimes f

[2020-08-09 19:25] shayki5 commented on #58
If the `master` branch is also under `development` it can cause the issue.
I suggest to put all the branches with `;`, for example:
`/development/branchA;/development/branchB;/development/branchC;/development/branchD`

[2020-08-10 16:40] blakito commented on #58
Oh, ok, thanks then! I just complained because it used to work, but i understand its a weid scenario :(

Our sub-branches are kinda dynamic, like hotfixes and monthly builds. Setting them manally wouldn't work.

I will try to separate the development/master from the others to avoid this issue, as the extension works flawlessly on any other scenario.

Best regars!

[2020-08-10 16:40] #58 closed

[2020-08-10 22:19] swonge opened #59 "How to enable "auto-complete""
I am new to the extension, and I have trouble setting "auto-complete"

I have checked the "Set Auto complete" option, but when i checked the pull request, the auto-complete is not set. May I ask if I missed any step to get it work?

[2020-08-11 06:36] shayki5 commented on #59
Hi @swonge!
Can you run the pipeline with the variable `system.debug` = `true` and share here the logs?

[2020-08-11 06:36] shayki5 commented on #53
Closing because of no response.

[2020-08-11 06:36] #53 closed

[2020-08-11 15:36] swonge commented on #59
Hi shayki5,
below please finds the log below, by PAT has "full access" privilege. Thanks for your help

2020-08-11T15:23:53.6036149Z ##[section]Starting: Create Pull Request
2020-08-11T15:23:53.9190803Z ==============================================================================
2020-08-11T15:23:53.9191600Z Task         : Create Pull Request
2020-08-11T15:23:53.9192178Z Description  : Automatica

[2020-08-11 15:39] swonge commented on #59
[](url)

[2020-08-11 15:40] swonge commented on #59
Press the wrong button, please reopen this case

[2020-08-11 20:08] shayki5 commented on #59
Hi @swonge,
You need to give to the user `Project Collection Build Service` and `Build Service` permissions `Contribute to pull request` in the git repository, please see issue #28.

[2020-08-11 23:04] swonge commented on #59
it works after grant allow permissions to "Contribute to pull requests" and "Contribute" for Project Collection Build Service(account) account

[2020-08-11 23:04] #59 closed

[2020-08-12 06:16] shayki5 commented on #59
it's great! thanks for the update!

[2020-08-12 22:51] swonge opened #60 ""The remote server retruned an error: (404) Not Found.""
I try to run the extension task, under the same organization, same setting, only with the difference git repository.
The first one is working perfectly,

2020-08-12T22:04:18.7275359Z ##[section]Starting: Create Pull Request
2020-08-12T22:04:18.9102986Z ==============================================================================
2020-08-12T22:04:18.9109079Z Task         : Create Pull Request
2020

[2020-08-13 08:29] shayki5 commented on #60
Hi @swonge!
Can you run it again the `system.debug` = `true` and share the logs?

[2020-08-20 13:24] AlexVasiukov commented on #54
Sorry, @shayki5, I found a version in which <br/> doesn't work. It's On-premises.
**Version Dev17.M153.5**

[2020-08-20 19:25] shayki5 commented on #54
@AlexVasiukov the multi-line doesn't work? it's Azure DevOps Server 2019?

[2020-08-26 10:45] shayki5 commented on #60
@swonge ping...

[2020-08-26 10:46] shayki5 commented on #55
I closing the issue for now, because it looks like is impossible until MS will enable it.

[2020-08-26 10:46] #55 closed

[2020-08-26 10:47] shayki5 commented on #52
@upendertiwari any update? is it sill failed for you?

[2020-08-26 15:42] swonge commented on #60
Hi shayki5,

Here's the log for **successful** run
_2020-08-26T15:34:13.5388509Z ##[section]Starting: Create Pull Request - (GIT Repo: STEVE-TEST)
2020-08-26T15:34:13.6497417Z ==============================================================================
2020-08-26T15:34:13.6498082Z Task         : Create Pull Request
2020-08-26T15:34:13.6498706Z Description  : Automatically create a Pull Request f

[2020-08-26 19:22] shayki5 commented on #60
Thanks @swonge.
As I said, please add variable `system.debug` with the value `true`, run it again and share the logs :)

[2020-08-26 19:33] swonge commented on #60
Hi shayki5

Here's **successful** task:
2020-08-26T19:30:44.2910330Z ##[debug]Evaluating condition for step: 'Create Pull Request - (GIT Repo: STEVE-TEST)'
2020-08-26T19:30:44.2976262Z ##[debug]Evaluating: succeeded()
2020-08-26T19:30:44.2985178Z ##[debug]Evaluating succeeded:
2020-08-26T19:30:44.3052781Z ##[debug]=> True
2020-08-26T19:30:44.3064188Z ##[debug]Result: True
2020-08-26T19:30:44.31222

[2020-08-26 20:08] victorhcosta opened #61 "Error on try run release pipeline in Azure DevOps"
Hi,

I am using this "CreatePull Request" task to create a pull request to master after completion of deployment to a stage, but I stay receiving the error "TF401027: You need the Git 'PullRequestContribute' permission to perform this action" even after configuring permissions following the instructions in the README.

[2020-08-27 05:51] shayki5 commented on #61
Hi @victorhcosta ,

Could you check this https://github.com/shayki5/azure-devops-create-pr-task/issues/28#issuecomment-584661744 and this https://github.com/shayki5/azure-devops-create-pr-task/issues/31#issuecomment-598256240? and issue #35.
I think it can helps you :)

Kind regards,
Shayki

[2020-08-27 11:12] shayki5 commented on #60
Thank you @swonge!
Can you share your git repo branches?

[2020-08-27 14:54] swonge commented on #60
Hi shayki5,
    found the issue, apparently, it's case sensitive. I used "Test-Steve" instead of "Test-STEVE". It works after I put into the right case.

Thanks

[2020-08-27 14:54] #60 closed

[2020-08-27 20:33] shayki5 commented on #60
Great! thank you for the update!

[2020-08-28 15:12] upendertiwari commented on #52
hi Shayki,
Still now working , so dropped this feature and doing pull request to master manually,

Regards,
Upender Tiwari

[2020-08-30 06:50] shayki5 commented on #52
@upendertiwari I'm sorry about it :(
It's probably some security policies in your company.

[2020-08-30 06:50] #52 closed

[2020-08-31 18:13] daxu7509 opened #62 "warning should be error and automatically complete the created pr when the policy sayings at least 1 reviewer?"
hi,
I use vsts's git repo and installed this extension.
When a PR is created, Is it possible to auto complete it as well when I setup a policy saying at least 1 reviewer needed?

Also the task will gives an warning when things go wrong (e.g.  ##[warning]{"$id":"1","innerException":null,"message":"TF401179: An active pull request for the source and target branch already exists.","typeName":"Microso

[2020-08-31 19:44] shayki5 commented on #62
Hi @daxu7509!
If your repo it's in Azure DevOps (and not GitHub) you can set "auto complete":

![image](https://user-images.githubusercontent.com/26063853/91760044-52ef4880-ebdb-11ea-93c6-72d4fa6783c1.png)

In YAML:
`autoComplete: true`

Regarding your second point, I made it as a warning because of issue #6.
Maybe I can make a checkbox if it will be an error or a warning.
What do you say?

[2020-08-31 20:05] daxu7509 commented on #62
hi,
I did set auto complete to be true.
The problem is that in my repo, there is a policy that at least one reviewer has to approve it before complete. As a result, it didn't auto complete (some human need to click the approve button).
However, we do want the PR to be 100% auto-completed in some scenarios:
Say we have 3 branches: Master, Sprint, Stories.
Scenario A:
1. Our sprint works are done in

[2020-08-31 20:09] shayki5 commented on #62
Oh ok, I understand.
I can add also the bypass option.
I will start work in it + the checkbox :)

[2020-09-01 16:30] daxu7509 commented on #62
Hi,
I done the code of adding bypass option, but not sure how can I share that code with you? (not sure how to add a checkbox in azure devop task)

[2020-09-01 19:26] shayki5 commented on #62
Hi, you can fork the repo, then add your changes and create a PR to my repo.
See here: https://github.com/firstcontributions/first-contributions

[2020-09-01 20:11] daxu7509 commented on #62
ok, I think I got how github works now.
I added some code to switch warning and error when auto complete can't be set or a pr already exists as well.

[2020-09-01 20:18] shayki5 commented on #62
Great! I will review in the next hours :)
Thank you!

[2020-09-02 09:06] daxu7509 commented on #62
ok, I updated the code, if you found something wrong, can you change it directly? Guess I could give you permission?

[2020-09-02 09:17] shayki5 commented on #62
@daxu7509 No problem :)

[2020-09-04 13:10] #61 closed

[2020-09-04 13:14] victorhcosta commented on #61
Thanks, I managed to adjust and it's working properly.

[2020-09-10 20:45] BrianHanf opened #64 "Would like to do pull from tag and not branch"
Is there a way to create a pull from a tag (or commit for that matter) and not a branch?

[2020-09-10 20:54] deadlydog opened #65 "Where is the extension?"
I can't seem to find this extension in the Azure DevOps marketplace. A link to it in this repo's ReadMe would be super helpful. Maybe I'm missing it?

[2020-09-10 20:57] deadlydog commented on #65
Ok, I found it by digging up the extension name out of the vss-extension.json file. It shouldn't be that hard though. Also, I'd recommend including `GitHub` as an extension tag to make it more discoverable.

[2020-09-11 12:01] shayki5 commented on #65
Hi @deadlydog
When you search "create"  or "pull request" in the marketplace you can find it easily:
![image](https://user-images.githubusercontent.com/26063853/92923031-73bb6780-f43f-11ea-87fc-723f3eb68d77.png)

![image](https://user-images.githubusercontent.com/26063853/92923093-8b92eb80-f43f-11ea-9817-688f507fbbc4.png)

Anyway, I liked your changes and I merged your Pull Request :)
Thank you!!

[2020-09-11 12:01] #65 closed

[2020-09-11 13:18] Zucka opened #67 "Pull Requests to another repository"
In one of the project I am working on, the team is using multiple repositories.
One of theese is the primary and a number of others are forks of that.
Whenever the primary is updated one of the team members is maunally creating pull requests for the individual forks.

Would it be possible to add functionality to target another repo instead of using the same as both source and target?

[2020-09-13 05:57] shayki5 commented on #64
Hi @BrianHanf!

It's impossible due to git limitation.
Pull Request it's between 2 branches.
If you want to merge a specific commit you can create a new branch with just that change:

[code]
Then create a PR from `my-single-change` to `master`.

[2020-09-13 05:57] #64 closed

[2020-09-13 06:53] shayki5 commented on #67
Hi @Zucka!
It's a good idea!
I will start to work on it :)

[2020-09-16 14:07] shayki5 commented on #67
Hi @Zucka,

I implemented it in the new version :)
Just choose the forked repo and check the new checkbox `Is Forked Repository` or in YAML: `isForked: true`.

Best regards,
Shayki

[2020-09-16 14:07] #67 closed

[2020-09-16 23:39] Zucka commented on #67
That's AWESOME !!
Thank you!

/Johan

[2020-09-29 21:22] swonge opened #69 "unable to create PR"
Hi,
  I created a pull request task but PR create failed. Below please finds the info

2020-09-29T21:12:37.9852495Z ##[debug]Evaluating condition for step: 'Create Pull Request - (GIT Repo: DataHub) (DEV-Master -> REL-Master)'
2020-09-29T21:12:37.9867193Z ##[debug]Evaluating: and(succeeded(), eq(variables['Merge DEV-Master'], 'true'))
2020-09-29T21:12:37.9867897Z ##[debug]Evaluating and:
2020-09-2

[2020-09-30 06:34] shayki5 commented on #69
Hi @swonge!
Is it occurs in any PR in any branch?

[2020-09-30 15:08] yzapara opened #70 "Log says PR created, but no new PRs on AZDO displayed"
Hi,

Tried to use this task in Release. Logs says that PR created but in fact no new PRs appear in list of Pull Requests in AZDO UI.
What may be wrong?
Here is a log:

2020-09-30T14:51:53.2226989Z The Source Branch is: refs/heads/master
2020-09-30T14:51:53.2244618Z The Target Branch is: refs/heads/dev
2020-09-30T14:51:53.2266914Z The Title is: Take latest Release
2020-09-30T14:51:53.2289024Z The D

[2020-09-30 16:29] shayki5 commented on #70
Hi @yzapara!
Did you grant the permissions as written in the documentation?

[2020-09-30 16:51] swonge commented on #69
Hi @shayki5,
   Yes, necessary permissions was granted. btw, same branch was tested and it worked before

   this is another one
2020-09-30T16:30:56.6409520Z ##[debug]Evaluating condition for step: 'Create Pull Request - (GIT Repo: DataHub) (REL-Master -> master)'
2020-09-30T16:30:56.6423457Z ##[debug]Evaluating: succeeded()
2020-09-30T16:30:56.6424131Z ##[debug]Evaluating succeeded:
2020-09-30T16

[2020-09-30 18:42] shayki5 commented on #69
When did it work?
I added more logs now, can you run again and share here the logs?

[2020-09-30 18:42] shayki5 commented on #70
I added more logs now, can you run again and share here the logs?

[2020-09-30 20:03] swonge commented on #69
found the issue, looks like it's because "Allow scripts to access the OAuth token" is not enable

[2020-09-30 20:44] shayki5 commented on #69
Oh ok, so is it works now?

[2020-09-30 20:45] shayki5 commented on #70
See issue #69, the "Allow scripts to access the OAuth token" is enabled?

[2020-09-30 20:57] swonge commented on #69
Yeah, it's working now. Thanks

[2020-09-30 20:57] #69 closed

[2020-10-01 12:19] yzapara commented on #70
Hi,  Thanks for point me to "Allow scripts to access the OAuth token" option. It was my issue cause.

[2020-10-01 12:19] #70 closed

[2020-10-13 06:13] ramyaramdasan opened #71 "Auto Complete Pull Requests in GutHub"
Hi Shayki,

Thanks a lot for this extension, makes our work quite easy. We use GIT Repositories for source control. We are trying to incorporate all deployment tasks in the ADO pipeline, but using GitHub to approve/ merge pull request beats the purpose.  Do you have plans to extend the Auto Complete option to GIT Repositories also? Look forward to hearing your thoughts.

Thanks
Ramya

[2020-10-13 07:14] shayki5 commented on #71
Hi Ramya,
I don't fully understand, your code is in GitHub or in ADO?
Currently the Auto Complete option is for ADO.

[2020-10-13 07:23] ramyaramdasan commented on #71
Hi Shayki,

My code is in GitHub, and I am curious if Auto Complete option would be added to GitHub, like you have for ADO today.

[2020-10-13 07:36] shayki5 commented on #71
There is such feature in GitHub?

[2020-10-13 07:52] ramyaramdasan commented on #71
I am new to both GIT and ADO, I am exploring the possibilities. If there is no such option, is there a way to merge the pull request from ADO? I am a ServiceNow expert, we do have a plugin in ServiceNow using which we can merge a pull request in GitHub remotely by passing the required parameters.

[2020-10-13 08:42] shayki5 commented on #71
Oh ok, so you want to complete a PR from ADO? (because create a PR with auto complete is unavailable in GitHub)
Do you want to complete immediately after the PR is created? or wait to reviewers etc?

[2020-10-13 09:10] ramyaramdasan commented on #71
At present, we are not looking at anyone reviewing the PR, so closing it immediately after creation works (wonder if that would run into issues in case of conflicts)

[2020-10-13 10:44] shayki5 commented on #71
@ramyaramdasan I will try to do it, need find a free time...

[2020-10-13 10:55] ramyaramdasan commented on #71
Great! thanks a lot.

[2020-10-19 21:30] zycon opened #72 "Unable to connect to azure repo"
While running the task, throwing an error
2020-10-19T21:27:31.4787573Z Is Draft Pull Request: False
2020-10-19T21:27:31.4788275Z Auto-Complete: False
2020-10-19T21:27:31.4788905Z Link Work Items: True
2020-10-19T21:27:54.7772961Z ##[error]Unable to connect to the remote server
2020-10-19T21:27:55.6034783Z ##[section]Finishing: Code Merge Request for Stage/

** Agent is running behind a proxy? is t

[2020-10-19 22:49] zycon commented on #72
i think -Proxy needs to be passed for Invoke-RestMethod

[2020-10-20 06:43] shayki5 commented on #72
Hi @zycon, is it Azure DevOps Server (on-prem)? with self-hosted agent?

[2020-10-20 07:02] zycon commented on #72
hi,
self-hosted windows

[2020-10-20 09:31] shayki5 commented on #72
Try login your machine and preform some `Invoke-RestMethod` functions with PowerShell, are you success? if not, with `-Proxy` is it works?

[2020-10-20 11:59] zycon commented on #72
Hi,
Invoke-RestMethod works only with proxy in my scenario, it could be a nice feature if you can respect agent proxy configuration or an input from UI , i would love to contribute, but no-pre exp in ps and azure agents

[2020-10-20 15:20] shayki5 commented on #72
Can you tell me which parameters should passed as inputs?

[2020-10-20 16:22] zycon commented on #72
Like an input from here
![image](https://user-images.githubusercontent.com/36449874/96615062-e1499600-1311-11eb-8b0c-419549595bc0.png)
or taking machines default proxy configuration

[2020-10-21 06:29] shayki5 commented on #72
I mean, in the `-Proxy` parameter you should give more info `-ProxyCredential` no? so what are the full parameters that should be?

[2020-10-25 11:59] MahmoudBishr-IbnsinaPharma opened #73 "Can't find field of "Allow scripts to access the OAuth token""
I can't find "Allow scripts to access the OAuth token" field in PR task
When I start the pipeline the following error appear

![Screen Shot 2020-10-25 at 1 58 28 PM](https://user-images.githubusercontent.com/70334600/97106434-444c7b80-16ca-11eb-8106-c80ffa3c6a45.png)

[2020-10-25 13:10] shayki5 commented on #73
Hi @MahmoudBishr-IbnsinaPharma,
Is it YAML pipeline or via the UI?

[2020-10-25 13:10] shayki5 commented on #72
@zycon Did you see my above message?

[2020-10-25 13:13] MahmoudBishr-IbnsinaPharma commented on #73
@shayki5 I'm using UI

[2020-10-25 13:38] shayki5 commented on #73
@MahmoudBishr-IbnsinaPharma Go to  the Agent job options, scroll down and check the checkbox "Allow scripts to access the OAuth token".

[2020-10-25 22:48] zycon commented on #72
That depends on the case, most of the case Proxy would be fine

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shayki Abramczyk <notifications@github.com>
Sent: Sunday, October 25, 2020 5:11:06 PM
To: shayki5/azure-devops-create-pr-task <azure-devops-create-pr-task@noreply.github.com>
Cc: Tibin Lukose <tibin@zycon.in>; Mention <mention@noreply.github.com>
Su

[2020-10-26 06:53] shayki5 commented on #72
@zycon Do you mean just to add `-Proxy`?

[2020-10-26 08:23] MahmoudBishr-IbnsinaPharma commented on #73
I find it and it is working now with me. Thanks so much @shayki5

[2020-10-26 08:23] #73 closed

[2020-10-28 14:08] jpdlpassos opened #74 "Not adding reviewers"
Hi,

I'm trying to add a reviewer to the PR but looks like is not working
I'm using Azure DevOps Server 2020

Tks!

Starting: Create Pull Request
==============================================================================
Task         : Create Pull Request
Description  : Automatically create a Pull Request for Azure DevOps or GitHub repository from Build or Release pipeline, supports also multi

[2020-10-28 14:15] shayki5 commented on #74
Hi!
Can you run the pipeline with the variable `system.debug` = `true` and share here the full log?

[2020-10-28 14:22] jpdlpassos commented on #74
2020-10-28T14:18:41.6706208Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2020-10-28T14:18:41.6706208Z ##[debug]Evaluating: succeeded()
2020-10-28T14:18:41.6706208Z ##[debug]Evaluating succeeded:
2020-10-28T14:18:41.6706208Z ##[debug]=> True
2020-10-28T14:18:41.6706208Z ##[debug]Result: True
2020-10-28T14:18:41.6706208Z ##[section]Starting: Create Pull Request
2020-10-28T14:18:41.

[2020-10-29 09:42] jpdlpassos commented on #74
No email there

{
value: [
{
isTeamAdmin: true,
identity: {
displayName: "Joao Passos",
url: "http://our_server.com/DefaultCollection/_apis/Identities/073af413-03b9-4db7-8dab-7adf838682eb",
_links: {
avatar: {
href: "http://our_server.com/DefaultCollection/_apis/GraphProfile/MemberAvatars/win.Uy0xLTUtMjEtMzUzNzA4MjY1Ni0xNjYyMjMzMjU5LTM5NTk2Njk4MjQtMTIyNw"
}
},
id: "073af413-03b9-4db7-8dab-7adf8386

[2020-10-29 10:15] shayki5 commented on #74
Ok, now I see. look like in Azure DevOps Server the `uniqueName` doesn't contains the email, but the username.
I will fix it :)

[2020-11-04 23:35] yestymike opened #75 "API version 4.0 support"
Hello, @shayki5!

Thanks for extension first of all. We are currently using TFS Version `16.122.27102.1`. When trying to create a pull request with your extension there is 404 status code. However it works if change API version inside of request url from `4.1` to `4.0` according to:
https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-6.1#api-and-tfs-version-mapping

From

[2020-11-05 07:59] vinura opened #76 "Plugin use in release pipelines"
Even though the plugin works in the build pipeline, It doesn't work in release pipelines.  Is there any solution for this? [I get a git "contribute permission error" only when used with release pipelines]

{"$id":"1","innerException":null,"message":"TF401027: You need the Git 'PullRequestContribute' permission to perform this action. Details: identity 'Build\\###########################', scope 'r

[2020-11-05 09:25] shayki5 commented on #76
Hi @vinura,
Can you check please issue #61?

[2020-11-05 10:59] shayki5 commented on #75
Hi @yestymike,
I changed the api-version to 4.0, now it should works for you.
Could you check please?

[2020-11-05 11:28] yestymike commented on #75
Works like a charm now. Thank you very much!

[2020-11-05 12:09] shayki5 commented on #75
Great :)
You're welcome!

[2020-11-06 08:40] vinura commented on #76
Hey I tried adding project build service to build service accounts

![image](https://user-images.githubusercontent.com/11626591/98344651-8b772c80-2039-11eb-8726-886a9c322d04.png)

and ticked the repo level access of contribute and contribute pull service.

![image](https://user-images.githubusercontent.com/11626591/98344784-c2e5d900-2039-11eb-80fe-a96e12985be0.png)

Still i get the same error.

20

[2020-11-06 08:54] vinura commented on #76
I solved this by directly adding User -"Project Collection Build Service" to the repo as contribute and contribute pull request user. Thanks for the help <3

[2020-11-06 08:54] #76 closed

[2020-11-06 09:26] vinura commented on #76
I am adding this for future reference for anyone

There are two build services
as for my understanding, these utilized as follows

Azure pipelines use
User - <Project Name>Build Service <Org Name>

​
Release Pipeline uses
User -Project Collection Build Service

Adding these two services to repos in project level and ticking

- [ ] contribute
- [ ] contribute to pull request

Will Solve all the iss

[2020-11-06 09:48] shayki5 commented on #76
Thank you @vinura for all the info!!
I glad it works for you :)

[2020-11-10 05:35] ramyaramdasan commented on #62
Hi,

I am facing a similar issue and I am not sure if I understand this discussion to fix the issue. I have a Azure Pipeline on a GitHub repository and I am using this extension to create a Pull Request. This task gets executed each time the build pipeline runs, so except for the first build, this task throws a warning that 'A pull request already exists'. Though it is an expected behavior, I wond

[2020-11-10 09:23] shayki5 commented on #62
Hi @ramyaramdasan, this is another thing :)
Do you want if the PR is already so it will be updated?
Updated with what? title? description?

[2020-11-10 09:26] ramyaramdasan commented on #62
Hi :)

Yes, I know. The existing task is throwing an error/ warning which doesn't make my build statistics look good.

Anyway, I have come across another extension which does both: https://marketplace.visualstudio.com/items?itemName=elranu.github-pr-tasks

So, you can now ignore my ask :)

[2020-11-10 09:29] shayki5 commented on #62
Great 👍 Maybe I will ad it also to my extension :)

[2020-11-10 09:30] ramyaramdasan commented on #62
Awesome! Please post if you do, I would be happy to add it to my pipeline 👍

[2020-11-16 12:28] akinda opened #78 "Pull Request failing with 405 Method not allowed"
While running the task, I see an error and not sure why.
Image below with full error details

![Error-Pull-Request](https://user-images.githubusercontent.com/5349687/99252619-3d9eb900-27dd-11eb-8eb6-958db42b8fe8.png)

[2020-11-16 14:10] shayki5 commented on #78
Hi @akinda,
It looks like the PR is not created, did you gave permissions to the user?

[2020-11-16 14:46] akinda commented on #78
@shayki5

I gave permissions - Contribute (Allow) - to all users again just to be sure.

The users/groups I gave the permissions to are below:

![image](https://user-images.githubusercontent.com/5349687/99265924-3f25ac80-27f0-11eb-9fd3-7c3fbb23a9a2.png)

![image](https://user-images.githubusercontent.com/5349687/99266054-5cf31180-27f0-11eb-9339-80a9b4cda813.png)

I'm seeing this now after enabling

[2020-11-16 14:49] akinda commented on #78
Also even though it says Pull Request Created, I don't see anything in the Pull Requests 'Active' or 'Completed' page.

Is that typical?

![image](https://user-images.githubusercontent.com/5349687/99266703-0e924280-27f1-11eb-880c-16fde8a0e26c.png)

[2020-11-16 14:53] shayki5 commented on #78
@akinda Is not created the PR (even though it says Pull Request Created, if it was crated the PR ID will be there also).
Did you enable the access token?

[2020-11-16 15:34] akinda commented on #78
@shayki5 That did the trick!

Thanks!

Now, I feel bad because that was the very first thing in the directions but somehow I missed it.

Thanks again though! Everything seems to be seamlessly working now,

[2020-11-16 15:35] #78 closed

[2020-11-16 15:41] shayki5 commented on #78
@akinda Great! I glad it helped :)

[2020-11-17 01:34] yestymike commented on #75
Heya, @shayki5

Something went wrong and it takes wrong api version again:
_apis/git/repositories/xxxxxx/pullrequests?api-version=`5.0`

Is it possible to add API version as input for manual configuration with current default value? I think it gonna be more flexible solution. Thanks.

[2020-11-17 07:22] shayki5 commented on #75
@yestymike No new version is uploaded.
Can you share the full log?

[2020-11-17 07:29] yestymike commented on #75
[code]

[2020-11-17 12:15] shayki5 commented on #75
@yestymike I missed this API (don't know how it worked for you before...), I fixed it, can you check now?

[2020-11-24 00:08] yestymike commented on #75
Heya, sorry for late reply.

It's really weird because it was working like week without any problems...

Anyway, I reinstalled extension now and checked it once again. It works now. Thank you, @shayki5, once again for your time.

[2020-11-24 00:08] #75 closed

[2020-12-03 10:19] jpdlpassos commented on #74
Hi!
Any update on this?
Thank you!

[2020-12-03 10:53] shayki5 commented on #74
Hi, I'm so sorry! I still didn't have time for this :(
I hope next week.

[2021-01-11 13:57] raochandansingh opened #79 "Getting warnings ( Pull request not merging to target branch)"
Hi,

I have tried to use this task in the pipeline of  Azure-DevOps. I can see the pull request is successfully created for the particular repo but it's not merging to the target branch. And these are the below warning I am getting. Could you please suggest to fix this issue.

![image](https://user-images.githubusercontent.com/48559155/104191037-d3b42180-53d1-11eb-81f9-a50c37dbfc5c.png)

[2021-01-11 14:37] shayki5 commented on #79
Hi @raochandansingh ,
You need to give to the user `Project Collection Build Service (account)` and `Build Service` permissions `Contribute to pull request` in the git repository, please see issue #28.

[2021-01-11 14:37] #79 closed

[2021-01-11 14:38] shayki5 commented on #72
@zycon ping :)

[2021-01-11 16:09] raochandansingh commented on #79
Hi,

I have already given the permission for the above both users as 'Contribute to pull request. And the same user is using it to create the pull request. Could you please help? screenshots are below:-

![image](https://user-images.githubusercontent.com/48559155/104206145-0ebf5080-53e4-11eb-8c58-39b7b9006caa.png)

![image](https://user-images.githubusercontent.com/48559155/104206329-3b736800-53e4

[2021-01-11 16:15] shayki5 commented on #79
Did you grant the permissions also to "Core build service"?

[2021-01-11 16:18] raochandansingh commented on #79
yes ,  I did

![image](https://user-images.githubusercontent.com/48559155/104208614-8a6dcd00-53e5-11eb-963d-d82f29a6baea.png)

[2021-01-11 16:23] shayki5 commented on #79
Oh now I see the issue (I think), you need to give also "Contribute" permissions, beside to "Contribute to pull request".

[2021-01-11 16:30] raochandansingh commented on #79
yeah, now it's working fine. but this was not mentioned anywhere like Contribute permission is also required to perform the SetAutoComplete task.

I am so happy now :) Thanks a lot for your fastest response as I was struggling with this issue since last Friday.

[2021-01-11 16:31] shayki5 commented on #79
Great!!
You're welcome!

[2021-01-11 16:36] raochandansingh commented on #79
One last thing I want to ask, Is their a possibility to do this operation for multiple repos using a single task. e.g. I have 20 repos which have source and target branch name are same. So can we do it as a single task or I need to add 20 tasks for each repos in the pipeline

[2021-01-11 16:38] shayki5 commented on #79
Need 20 tasks :/  but it could be nice feature. I hope I will have time to add it.

[2021-01-11 16:39] raochandansingh commented on #79
Okay, Thanks!!

[2021-01-11 17:47] zycon commented on #72
Yes. Would be better if you can add proxy definitions

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shayki Abramczyk <notifications@github.com>
Sent: Monday, January 11, 2021 8:09:14 PM
To: shayki5/azure-devops-create-pr-task <azure-devops-create-pr-task@noreply.github.com>
Cc: Tibin Lukose <tibin@zycon.in>; Mention <mention@noreply.github.com>
Subject: Re

[2021-01-13 11:21] raochandansingh commented on #79
Hi,

Could you please help why the belw error is coming.

[2021-01-13 11:28] shayki5 commented on #79
@raochandansingh Can you share your task configuration?
In addition, run the pipeline with `system.debug` = `true` and share the logs.

[2021-01-13 11:33] raochandansingh commented on #79
I am trying to run two repos

![image](https://user-images.githubusercontent.com/48559155/104447059-1ef43e80-5550-11eb-8d12-870219742093.png)

![image](https://user-images.githubusercontent.com/48559155/104446727-b9a04d80-554f-11eb-8aa2-65912aa252fd.png)

![image](https://user-images.githubusercontent.com/48559155/104446906-f1a79080-554f-11eb-9db2-6e496ad30988.png)

[2021-01-13 12:33] shayki5 commented on #79
Ok, I see it's a release pipeline. without reviews is it works?
Do you use Azure DevOps or Azure DevOps Server?

[2021-01-13 14:44] raochandansingh commented on #79
I am using Azur-DevOps. And Review is optional.

[2021-01-13 15:05] shayki5 commented on #79
Please see this comment: https://github.com/shayki5/azure-devops-create-pr-task/issues/76#issuecomment-722975169 maybe it will help.
Can you try to run it with `system.debug` = `true` and share here the full logs?

[2021-01-15 10:33] kachkaev opened #80 "Typo in ‘deleteSourch’ input option (sould be ‘deleteSource’?)?"
When reading the docs on https://marketplace.visualstudio.com/items?itemName=ShaykiAbramczyk.CreatePullRequest, I noticed a typo in ‘delete source branch’ option (deleteSourch) and fixed it locally in my yaml.

However, after it did not work, I realised that the typo is not just in the docs, but also in the code:
https://github.com/shayki5/azure-devops-create-pr-task/search?q=deleteSourch

I wonde

[2021-01-15 11:38] shayki5 commented on #80
Hi @kachkaev,
Great catch, I don't understand how I missed it...
Good question, I think I can add a new field `deleteSource`, keep also the old field and in the code handle it.
I will try to do it next week.

[2021-01-15 12:45] H0110WED commented on #62
Is there a date for when the by pass option will be implemented? We are also waiting for this feature.

[2021-01-24 14:01] shayki5 commented on #62
@H0110WED Do you use GitHub or Azure Repos?

[2021-01-24 14:05] H0110WED commented on #62
@shayki5 We are using Azure devops

[2021-01-24 14:09] shayki5 commented on #62
@H0110WED Ok, so do you want to auto-complete the PR and bypass it even all policies didn't complete?

[2021-01-24 16:04] H0110WED commented on #62
@shayki5 Correct. I messed with the azure devops rest apis a little and I'm not sure if you can bypass and auto-complete a PR though.

[2021-01-25 15:20] DmytroSly opened #82 "Suddenly the task started failing with the error: "##[error]The remote server returned an error: (404) Not Found.""
Although I didn't change anything related to the task, it started failing with the error:

"##[error]The remote server returned an error: (404) Not Found."

![image](https://user-images.githubusercontent.com/71351803/105725426-9ef7ac80-5f31-11eb-97bd-7f56832f8c02.png)

[2021-01-25 15:25] shayki5 commented on #82
Hi @DmytroSly,
Can you run it with `system.debug` = `true` and share the full log?

[2021-01-25 16:35] DmytroSly commented on #82
Hi @shayki5 .
` system.debug = true` was a great help. The reason for the error was that the source branch name contained '&'.

[2021-01-25 17:31] shayki5 commented on #82
Great :)

[2021-01-25 17:31] #82 closed

[2021-02-03 16:27] mgrishkov opened #83 "Task reports pull request createdb but the pull request does not exists"
Hi,
I've just found the tool and try to create PR from develop to master in Release pipeline. Task completed seccessfully and reports it but PR has not been created.

Task logs:
[code]

[2021-02-03 20:59] shayki5 commented on #83
Hi @mgrishkov,
Did you enable the access token and granted the permissions to the repo?

[2021-02-03 22:01] mgrishkov commented on #83
You are right. Thank you. It's fully my mistake.

[2021-02-03 22:01] #83 closed

[2021-02-04 12:46] shayki5 commented on #83
@mgrishkov All good :) I glad it worked for you!

[2021-02-17 07:57] krispenner opened #84 "Enhancement: Link New Work Item"
Hi, first of all, this is amazing work, thank you so much!

I would like to specify a work item ID to link to the PR, is that possible?
It currently only supports linking work items from the source branch which is great, but we usually create a work item to track the release preparation and link it to the release PR as well.

[code]

[2021-02-17 16:00] achim-t opened #85 "Bug in CheckIfThereAreChanges"
Part of log:
[code]

Apparently the diff-check truncates the target branch too much, if it's a merge.  `baseVersion=12/merge` would be correct, but the first character is missing.

[2021-02-19 14:20] Miigg commented on #62
Hello @ shayki5, I made a change to include the Bypass, I would like you to take a look, I don't know why but I had to do a retry to apply the bypass since the first attempt does not work.
PR #86

[2021-02-19 20:09] ColinKrist opened #87 "Feature Request / Issue: Doesn't use $(Build.SourceVersion) on sourceBranch when creating PR"
Our team uses a trunk based deployment flow and we don't cut release/* branches for release -> master merges which I expect most users of this task do. We expected the commit tied to the Build on the YAML Build Pipeline to be used as the last commit to the `sourceBranch`; however, it looks like in `CheckIfThereAreChanges()` your script looks at the HEAD of each branch rather than the $(Build.Sourc

[2021-02-20 04:32] khismatullin opened #88 "Not working option "Link WorkItems""
Commit have link on work item:
![image](https://user-images.githubusercontent.com/29961965/108583816-26ccad00-735e-11eb-9687-2baf384d1d1e.png)

Logs:
2021-02-20T04:13:14.9630675Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2021-02-20T04:13:14.9631202Z ##[debug]Evaluating: succeeded()
2021-02-20T04:13:14.9631348Z ##[debug]Evaluating succeeded:
2021-02-20T04:13:14.9631568Z ##[debug

[2021-02-21 07:06] shayki5 commented on #84
Hi @krispenner, it's very good idea! I will add it when I will have time :)

[2021-02-21 07:08] shayki5 commented on #85
Hi @achim-t , thanks!
I will fix it soon!

[2021-02-21 07:16] shayki5 commented on #87
Hi @ColinKrist, thanks for your input!
If I understand correctly, do you want to use `Build.SourceVersion` (that is commit ID) here: `?baseVersion=$($sourceBranch)`? instead of `$sourceBranch`.

[2021-02-21 07:51] shayki5 commented on #88
Hi @khismatullin, thanks for your input!
I think it because the URL format, I see you are using TFS on-premise (which version?), I will fix it.

[2021-02-21 13:58] shayki5 commented on #85
@achim-t I fixed it :)
Can you try now?

[2021-02-21 16:13] shayki5 commented on #88
@khismatullin I fixed it :)
Can you check now?

[2021-02-21 17:02] khismatullin commented on #88
Not working(

[2021-02-21 17:02] khismatullin commented on #88
Not working(

[2021-02-21 17:06] shayki5 commented on #88
Can you share the logs?

[2021-02-21 17:11] khismatullin commented on #88
2021-02-21T16:56:19.6243788Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2021-02-21T16:56:19.6244256Z ##[debug]Evaluating: succeeded()
2021-02-21T16:56:19.6244403Z ##[debug]Evaluating succeeded:
2021-02-21T16:56:19.6244619Z ##[debug]=> True
2021-02-21T16:56:19.6244850Z ##[debug]Result: True
2021-02-21T16:56:19.6245084Z ##[section]Starting: Create Pull Request
2021-02-21T16:56:19.

[2021-02-21 17:17] shayki5 commented on #88
I can see that the version you use is 1.2.198
`Version : 1.2.198`
The new version with the fix is 1.2.202
Can you upgrade?

[2021-02-21 17:57] khismatullin commented on #88
Thank you very much. New version works correctly.

[2021-02-21 17:57] #88 closed

[2021-02-22 04:07] ColinKrist commented on #87
Precisely! The docs read that supplying a tag, branch name, or in this case the commit hash for `baseVersion` is an option:
![image](https://user-images.githubusercontent.com/27971797/108659760-6dbabf80-7490-11eb-9aa6-c1b357b663a8.png)

Reading the docs and getting familiar with it again I have thought of a possible workaround that would require no script changes. I could technically provide the $

[2021-02-22 07:19] shayki5 commented on #87
@ColinKrist I don't think you can put `$(Build.SourceVersion)` in the source branch because when you create a PR  you need to supply a branch name and not a commit:

![image](https://user-images.githubusercontent.com/26063853/108675087-fc5e2980-74ee-11eb-9502-127071e3d330.png)

[2021-02-22 09:41] achim-t commented on #85
[code]

Maybe merging from a pull request directly is not possible? When I'm using `$(System.PullRequest.SourceBranch)` as the source branch name instead of `$(Build.SourceBranch)` it works.

[2021-02-22 09:49] shayki5 commented on #85
@achim-t do you want to run the task inside a PR? when the build is running he creates a temp merge branch that deleted after the build, you can't merge from this branch.

[2021-02-22 09:56] achim-t commented on #85
Yes, that's what I wanted to do.

`$(System.PullRequest.SourceBranch)` as the source branch name seems to be the solution.

[2021-02-22 10:23] shayki5 commented on #85
@achim-t Exactly. so all good? :)

[2021-02-22 10:24] #85 closed

[2021-02-22 15:33] ColinKrist commented on #87
Ah you're right - I wasn't looking closely enough at the create PR portion of your script.

If we wanted to get the correct number of commits to attach - we'll have to add another param to the create PR endpoint and feed the array of commits to the endpoint:
![image](https://user-images.githubusercontent.com/27971797/108728796-81494300-74ef-11eb-8033-207bf9737d8d.png)

I think this is possible via

[2021-02-24 07:12] shayki5 commented on #87
But did you success to create a PR only from those commits?

[2021-02-24 14:31] ColinKrist commented on #87
Thank you for holding me to the thesis. I had to leave my thoughts there because I ran out of time. I just spent a bit more time on it and was unable to do so. Irritating that commits[] is part of the body, but does nothing.

I'm now exploring creating Ref/branch via a separate script YAML step and plugging that branch ref into your task instead:
![image](https://user-images.githubusercontent.com/

[2021-02-24 14:44] shayki5 commented on #87
I agree @ColinKrist :)
Thanks anyway for your inputs!

[2021-02-24 14:44] #87 closed

[2021-02-25 12:35] shayki5 commented on #62
@Miigg Thank you! I uploaded the new version with the Bypass option to production :)
@H0110WED @daxu7509  **FYI** ☝

[2021-02-25 12:35] #62 closed

[2021-02-26 09:30] Youru opened #89 "Issue with By Pass policy and LastMergeSourceCommit"
Hi,

We recently added your plugin on azure dev ops to manage the autocomplete of some branches and even if there are some bug (or some lack of understanding on our side) the plugin works well, so good job.

I encounter this morning an issue with the by pass policy (The PR is sucessfully created)
Error message :
##[warning]Can't Bypass PR 253.
##[warning]{"$id":"1","innerException":null,"message":

[2021-02-26 14:06] Youru commented on #89
I've saw the code and I think I know by which part the issue came.
It seems that we need to check Link work item to set $global:lastCommitId.

Others issues are coming from the UI, when we select specifics options like set auto complete, other field are hidden. (but we can play with the persistance of the choice)

Now I've a new error message with
You need the Git 'GenericContribute' permission

I

[2021-02-26 19:23] chamel-shipbob opened #90 "ByPass change failing build with nul array"
Task failing that start mid day yesterday. Noticed a new setting around bypass being in the logs. The following output is what we get in the logs
[code]

Task definition
[code]

[2021-02-27 21:22] shayki5 commented on #90
@chamel-shipbob, I've added a new feature (byPass) that probably caused it.
Can you try to run the pipeline with `system.debug` = `true` and share the logs?

[2021-02-27 21:23] shayki5 commented on #89
Hi @Youru, thank you for your info!
So, for conclusion - for the ByPass the work items must be linked? and need to give ByPass and GenericContribute  permissions to the user?

[2021-03-01 13:56] Youru commented on #89
Short answer :
Yes

Long :
line 321 - 324
We call  GetLinkedWorkItems  onfy if linkWorkItems if true

Line 619 -620
$global:lastCommitId and $global:lastCommitUrl are set

Line 709-710
$global:lastCommitId and $global:lastCommitUrl are used

Do this part should be extracted from GetLinkedWorkItems  method ?

[2021-03-01 14:23] shayki5 commented on #89
@Miigg can you answer the question above?

[2021-03-01 15:45] Miigg commented on #89
@shayki5 and @Youru I did a validation for this vars and if they have no value I will try to obtain and define the values
#91

[2021-03-01 17:13] shayki5 commented on #89
@Miigg Good work! but now still the ByPass will work only if "link work items" is true. can you get the commits inside the ByPass function....?

[2021-03-01 20:22] Miigg commented on #89
@shayki5 In the tests I did here always with the "link work items" disabled and it worked normally, can you test it again?

[2021-03-01 20:50] shayki5 commented on #89
@Miigg I checked now it it worked... but I don't know why, the bypass need the last commit id & url and we get them only in the `GetLinkedWorkItems` function...

[2021-03-01 21:04] shayki5 commented on #90
Look like it was fixed in PR #91 😀
Can you check now?

[2021-03-01 22:38] chamel-shipbob commented on #90
I will take a look. Sorry for the delay. Day got a head of me

[2021-03-01 22:41] chamel-shipbob commented on #90
For the logs
[code]

[2021-03-02 08:06] shayki5 commented on #90
@chamel-shipbob Look like permissions issue. did you enable the OAuth access token? (see the docs for explanation).

[2021-03-02 11:08] shayki5 commented on #80
@kachkaev Still didn't have time to it... It's more complicated because in the UI will be two fields. maybe I will update the version to 2.0

[2021-03-03 12:42] chamel-shipbob commented on #90
Yes, it was 100% that. Our YAML templates were missing the OAuth section. Thank you for the quick response

[2021-03-03 12:42] #90 closed

[2021-03-03 12:43] shayki5 commented on #90
Great :) thank you for the update!

[2021-03-04 09:00] danielheddelin opened #92 "##[error]Cannot index into a null array."
On feb 15, our production release pipeline worked (version 1.2.198).
Our next release on march 2, did not work (1.2.209).

The create PR task is failing with  ##[error]Cannot index into a null array.

The version used is 1.2.209, which is not even in the version list, so maybe it was released prematurely?

[2021-03-04 10:45] achim-t opened #93 "Error Handling when missing AccessToken"
https://github.com/shayki5/azure-devops-create-pr-task/blob/92eba10e2238f12b1b57fd30fcabc16cfdbad933/task/createPullRequest.ps1#L326
https://github.com/shayki5/azure-devops-create-pr-task/blob/5055ae55250407ab094ccde63c65fac7ba1d14cf/task/createPullRequest.ps1#L332-L334

If the script doesn't have access to the token, the response is not empty nor does the request throw an error (notice the missin

[2021-03-04 14:54] shayki5 commented on #89
@Miigg Now I see you added the lastCommitId variables also in the ByPassPR function (to get it from Get-PRData function). so, we don't need it in the GetLinkedWorkItems function, because of issue #92 I removed it from there, I guess it's related to the error.

[2021-03-04 15:23] shayki5 commented on #92
Hi @danielheddelin, thanks for reporting that!
We added a bypass feature and I think I know what is the issue, I fixed it, can you try now?

[2021-03-04 16:37] shayki5 commented on #93
Hi,
It's a great idea!
When the script started I added a check if the access token exist, if not - exit with error :)
Thank you so much for the idea!

[2021-03-05 07:04] danielheddelin commented on #92
Thanks for the response. I will let you know the results of our next deploy.

[2021-03-11 07:39] danielheddelin commented on #92
Case closed. Cannot index into a null array has been solved.
Ended up with another error and have now followed your guide on this, so expecting everything to work as intended after this. Thank you.
##[error]Access Token doesn't found! please enable the access token in your pipeline. see the docs: https://github.com/shayki5/azure-devops-create-pr-task

[2021-03-11 07:39] #92 closed

[2021-03-11 07:54] shayki5 commented on #92
@danielheddelin Great! I just added the message regarding the token :) I happy it helped you.

[2021-03-23 07:49] dsimon-onventis commented on #74
Any update? :) Our Dev-Team also stumbled upon that issue. Without adding reviewers, our PRs get overlooked, so it would be great if you could fix this issue!

[2021-03-24 07:22] shayki5 commented on #74
@dsimon-onventis which TFS version do you use?

[2021-03-24 07:33] dsimon-onventis commented on #74
@shayki5 We are using using Azure DevOps Server 2020 as well.

[2021-03-31 11:11] #89 closed

[2021-04-01 17:13] Skymogul commented on #93
The temporary PAT is always exposed to ADO custom tasks. You just need to:

`$token = (Get-VstsEndpoint -Name SystemVssConnection -Require).auth.parameters.AccessToken`

Then you won't need people to check the OAuth box on the agent phase and the token will never be missing.

[2021-04-03 01:11] mikecole opened #95 "Ability to create a PR using the SHA?"
From the documentation it appears the PR is from the latest version of the source branch. Is there any way to target a specific commit? By the time my workflow can get to this job it's possible more commits have been made to the branch, so I'm really looking for this to do a point-in-time PR if that is possible. Thanks!

[2021-04-03 19:46] shayki5 commented on #95
Hi @mikecole, it's impossible, PR is a merge from branch to branch. if you want only specific commits to be merged you can [cherry pick ](https://docs.microsoft.com/en-us/azure/devops/repos/git/cherry-pick?view=azure-devops&tabs=visual-studio)them to a new branch, then create the PR from there.

[2021-04-05 11:16] shayki5 commented on #93
Thank you @Skymogul!! I just updated the extension and there is no need to check the OAuth box :)
@achim-t FYI

[2021-04-05 11:16] #93 closed

[2021-04-05 12:08] shayki5 commented on #74
@dsimon-onventis I think in Azure DevOps Server I can't use email, nut username in AD. for example: Domain/Username, is it ok?

[2021-04-08 08:25] jpdlpassos commented on #74
i think the user it's ok

[2021-04-12 06:21] dsimon-onventis commented on #74
@shayki5 yes that's totally fine 👍

[2021-04-12 16:53] #95 closed

[2021-05-03 14:11] shayki5 commented on #74
@jpdlpassos @dsimon-onventis I added this support :)
Please update to the latest version and try to add reviewers with the following syntax:
`domain\username`

[2021-05-04 11:34] orty opened #97 "Get back the IDs in case of multiple branches at once"
Hi,

Very nice work you did with this custom task, thanks a lot !

I would like to be able to get back the list of `pullRequestId` (probably using a separator like ";") as an output variable even in the case of a multiple branch run.
If you lack the time to update your task and the idea is still interesting for you, may I propose a PR on your repo ?

Thanks again

[2021-05-04 12:54] dsimon-onventis commented on #74
@shayki5 Thank you for adding this! However, it seems to work for only one reviewer. I have the following YAML:

[code]

But only the first user is added as a reviewer. Here are the logs:

[code]

When I switch the order and put user2 in front, user2 is being added as reviewer. Can you reproduce that?

[2021-05-04 13:13] shayki5 commented on #97
Hi @orty,

I'm glad to hear it's helpful to you :)

I can try to add it, but I don't know if it will be soon :/

If you have time to propose a PR it could be great!

[2021-05-04 13:38] shayki5 commented on #74
Thanks @dsimon-onventis!
I succeed to reproduce it and I fixed it :)
Can you try now please?

[2021-05-04 22:30] orty commented on #97
Hi @shayki5,

I developped and tried the fix on my Azure Devops environment. I just can't push any new branch (hence can't create a PR :)) for it.

May you allow me to do so ? I shall respect your naming convention of course, and name the new branch `feature/multiple-output-pullrequestids`.

Please, let me know if you agree, I just have to click on 'push' ^^.

[2021-05-04 22:42] orty commented on #97
#98

[2021-05-04 22:43] orty commented on #97
Just created the PR #98 @shayki5

[2021-05-05 07:23] shayki5 commented on #97
Hi @orty!
I tested your change in my environment and it works great!
I approved the PR and and a new version will be ready soon for update :)
Thank you for your effort!

[2021-05-05 07:28] orty commented on #97
You're very welcome :)

[2021-05-05 07:35] shayki5 commented on #97
The new version (1.2.225) is uploaded :)

[2021-05-05 07:35] #97 closed

[2021-05-05 12:49] dsimon-onventis commented on #74
@shayki5 Sorry, I always need to wait 1 day until the update is installed on our Azure DevOps Server. But I can now verify that it works for me 👍

Thank you very much for fixing this!

[2021-05-05 13:04] shayki5 commented on #74
Great! thank you for the update!

[2021-05-05 13:04] #74 closed

[2021-05-12 17:11] mdverde opened #100 "Task is not adding work items to PR"
We have some pipelines to automate the creation of PRs, but for some reason some of them are not linking the work items even tough the setting is enabled on the task and the source commits have one or more linked work items:

![image](https://user-images.githubusercontent.com/18468967/118015867-fb7cad00-b311-11eb-8019-ec6a181014c4.png)

![image](https://user-images.githubusercontent.com/18468967/1

[2021-05-13 06:55] shayki5 commented on #100
Hi,
Can you run the pipeline with the variable `system.debug` = `true` and share here the logs?
Thanks!

[2021-05-17 16:58] JoshDouglasOU opened #101 "404 error"
I'm sure this is something really easy that i'm just overlooking.

i'm getting this error
remote server returned an error.  404 not found

i'm using azure devops
just trying to pr from source branch to main.

[2021-05-17 19:45] JoshDouglasOU commented on #101
yes it was an overlooked fat finger.

%(Build.SourceBranch) instead of
$(...)

[2021-05-17 19:45] #101 closed

[2021-05-28 21:34] YanVale opened #102 "Task return "server returned an error: (404) Not Found.""
Hi,

I used your PR as a task in our Pipeline and I have encountered error below.

![image](https://user-images.githubusercontent.com/55928105/120043692-cabf9780-bfe2-11eb-8942-a7b9f9ac6b44.png)

can you help me .

i think some problem of azure devops api .

The remote server returned an error: (404) Not Found.

info : I use custom name in my azure devops like ' https://capsulecorp.visualtudio.com

[2021-05-29 18:10] shayki5 commented on #102
Hן @YanVale,
Can you run the pipeline with `system.debug` = `true` and share here the logs?

[2021-05-31 13:04] YanVale commented on #102
Hi shayki5

thanks for reply ...

logs in system.debug mode :

2021-05-31T13:01:14.3786357Z ##[debug]Evaluating condition for step: 'Create Pull Request'
2021-05-31T13:01:14.3833904Z ##[debug]Evaluating: succeeded()
2021-05-31T13:01:14.3840367Z ##[debug]Evaluating succeeded:
2021-05-31T13:01:14.3888561Z ##[debug]=> True
2021-05-31T13:01:14.3898591Z ##[debug]Result: True
2021-05-31T13:01:14.3949102

[2021-05-31 13:12] YanVale commented on #102
im set  system.debug in build pipeline , but the results is sucesss ( the previous image is from release pipelines task)

info: is the same build source branch

##[debug]Evaluating condition for step: 'Create Pull Request'
##[debug]Evaluating: succeeded()
##[debug]Evaluating succeeded:
##[debug]=> True
##[debug]Result: True
Starting: Create Pull Request
============================================

[2021-05-31 13:46] YanVale commented on #102
Im see two differents urls apis in logs:

https://xxxx.visualstudio.com/BR-Metals-SVP/_apis/git/repositories//diffs/commits?baseVersion=sprint5&targetVersion=develop&api-version=4.0&$top=2 - (broken in release pipeline)

https://xxxx.visualstudio.com/BR-Metals-SVP/_apis/git/repositories/BrMetalsSVPBackend/diffs/commits?baseVersion=sprint5&targetVersion=develop&api-version=4.0&$top=2 - ( sucess tas

[2021-05-31 14:21] shayki5 commented on #102
@YanVale can you share the task configuration in the release pipeline?

[2021-05-31 14:26] YanVale commented on #102
sure ..  @shayki5

my task in release

![image](https://user-images.githubusercontent.com/55928105/120207631-0e90e780-c203-11eb-8ccf-8fec4c269c2d.png)

[2021-05-31 14:35] shayki5 commented on #102
@YanVale I think I found the issue.
In the "Repository to use" press on "Select" and choose the repo name from the list.

[2021-05-31 15:27] YanVale commented on #102
@shayki5

Thanks so much .  It works for me .

really , i have two different repositories  .

[2021-05-31 15:27] #102 closed

[2021-06-03 13:40] shayki5 commented on #100
@mdverde ping :)

[2021-06-08 17:06] natanefabene opened #103 "[warning]Can't Bypass"
I am using the By Pass policy for Pull Request. But it's returning me

2021-06-08T16:57:48.7728193Z ##[warning]Can't Bypass PR 26.
2021-06-08T16:57:48.7738586Z ##[debug]Processed: ##vso[task.logissue type=warning]Can't Bypass PR 26.
2021-06-08T16:57:48.7741288Z ##[warning]{"$id":"1","innerException":null,"message":"Invalid argument value.\r\nParameter name: The pull request to update was not valid

[2021-06-08 18:57] natanefabene commented on #103
The problem was Bypass Reason. I removed it and it worked.

[2021-06-08 18:57] #103 closed

[2021-06-09 12:47] manojsharma0387 opened #104 "hold the stage until PR approved and complete"
Hi Team, Is it possible to hold the stage until PR is fully approved and complete. Because what is happening if I am passing required reviewer, the Pull request is getting raised but waiting for approver to complete and stage is showing successfully completed. Is it possible to hold the stage until PR fully approved.

[2021-06-09 12:54] shayki5 commented on #104
Do you mean to hold the pipeline stage? I don't think it's possible.

[2021-06-10 07:09] manojsharma0387 commented on #104
thank you

[2021-06-10 07:11] shayki5 commented on #104
What you can do, is to add a PowerShell task that check the PR status every 1 minuets and only if it merged to continue next steps. but you need to increase the pipeline timeout.

[2021-06-10 07:11] #104 closed

[2021-06-10 07:12] #100 closed

[2021-06-10 18:04] manojsharma0387 commented on #104
But PR ID need to supply to PS task, that ID we can add as an variable in pipeline

[2021-06-11 13:35] shayki5 commented on #104
You can set the `passPullRequestIdBackToADO:` to `true` and then use the variable `$(pullRequestId)`.

[2021-06-16 20:19] ssam005 opened #105 "Stops creating PR's after finding a branch with no changes"
Steps to reproduce:
1. create the following branch structure
   branch1/main    1/0
   branch2/main     0/0
   branch3/main     3/0
   main
2. configure task to us multiple target branches
  targetBranch: '*/main'
3. run pipeline.

A PR will be created for main -> branch1/main
there will be a message in the log that branch2/main doesn't require a pull request.
then the job is completed successfull

[2021-06-17 08:22] shayki5 commented on #105
Hi @ssam005, good catch!
I didn't think about this scenario. I will fix it soon :)

[2021-06-21 15:59] shayki5 commented on #105
@ssam005 I think I solved it :) can you check now?

[2021-06-21 16:19] ssam005 commented on #105
Sure.  Do I need to update the extension in azure first, or is there another way to test it?

[2021-06-21 16:20] shayki5 commented on #105
By default it's updated automatically, so you can just run the pipeline :)

[2021-06-22 15:05] ssam005 commented on #105
It worked!! Thanks.

FYI it took about a day before it updated.

[2021-06-22 15:06] #105 closed

[2021-07-07 19:18] ivan-luxoft opened #106 "Error (404) Not Found for PR when PR-repo not same as source code"
Hello,

I am get error when set parameters:
[code]

[2021-07-09 09:19] jingoscar opened #107 "Creating PR for another project in Azure DevOps that uses forked repository"
Hi, I would like to know is it possible for me to automate a pull request for another project under the same organization using your plug-in. For eg. **Project A** which is my main project and i have a master repository in it. I would like to automate it to create a pull request for the repository in **Project B** which is forked from **Project A** . Which essentially means i am updating the sourc

[2021-07-09 11:39] shayki5 commented on #107
Hi, can you run it with the variable `system.debug` = `true` and share here the logs?

[2021-07-11 06:41] shayki5 commented on #106
Hi, can you run the pipeline with `system.debug` = `true` and share here the logs?
Did you grant the permissions in the second project & repo?

[2021-07-12 06:52] ivan-luxoft commented on #106
debug log for task attached
[log.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/6799132/log.txt)

permissions was set for repositories on the project level, all repository in the same project
![chrome_8719QfYKxs](https://user-images.githubusercontent.com/75603957/125243306-95eb7380-e2f6-11eb-897c-22bf96df93c4.png)

also I tried to give permissions of all types but it doesn't wor

[2021-07-12 17:19] shayki5 commented on #106
Thank you!
I can reproduce the issue.
Look like my code support only forks repos from the same project, I will add a support also from other projects, I hope I will have time soon :)

[2021-07-12 17:22] shayki5 commented on #106
Wait, is it forked repo or just 2 different repos in 2 projects?

[2021-07-12 17:22] shayki5 commented on #107
Thank you!
I can reproduce the issue.
Look like my code support only forks repos from the same project, I will add a support also from other projects, I hope I will have time soon :)

[2021-07-12 19:58] ivan-luxoft commented on #106
it is two different repos, I want copy files from first to second, then commit second and create pullrequest (it is bump pr or update shared files)

I looked code and think that token can usage without [call method](https://github.com/shayki5/azure-devops-create-pr-task/blob/dc6479e4456cc095ed573adb0e9c002375c25d42/task/createPullRequest.ps1#L50) `Get-VstsEndpoint` ()

[2021-07-13 09:20] shayki5 commented on #106
You can't create a PR for 2 different repos, even in the UI. this is how git works.

[2021-07-13 09:26] ivan-luxoft commented on #106
I know it =) , I want copy files from the source repository to the target (locally on agent), then commit copying files to the target repo and created PR with commit changes in target repo

[2021-07-13 09:29] shayki5 commented on #106
Who should do the copy & commit? is it in your pipeline?

[2021-07-13 10:27] ivan-luxoft commented on #106
yes, it is task/action/script in the pipeline

[2021-07-13 12:06] shayki5 commented on #106
can you share your full pipeline?

[2021-07-13 12:46] ivan-luxoft commented on #106
I'm not implemented functional for copy and commit =)
In this time I having trouble with creating PR for repository if build run not from him.

[2021-07-13 13:00] shayki5 commented on #106
I tried in my organization and I succeeded to create the PR for a repo that is different then the "get sources" repo.
Can you try to give permissions also to the following groups?
![image](https://user-images.githubusercontent.com/26063853/125455825-fd598a40-451c-48ce-b218-cf338e482d90.png)

[2021-07-13 14:44] ivan-luxoft commented on #106
I set all permissions for these groups, also I add build service account in this group, but for me it is not working,
I try it for another organization later

[2021-07-19 09:16] ivang7 commented on #106
I cant successfull run task with source code from one repository and pr in another (
I gave all permission what I can seen

[2021-07-19 12:18] shayki5 commented on #106
Can you give me permissions to your organization? I will try to check it.

[2021-07-19 12:46] ivan-luxoft commented on #106
service account for build has all permissions on organization level:
![chrome_A10VmukSC3](https://user-images.githubusercontent.com/75603957/126161308-a8e6c7c4-55d7-4f79-b932-3adf0c3b3701.png)

account included in the group (with all permissions) on the organization level:
![chrome_A10VmukSC3](https://user-images.githubusercontent.com/75603957/126161428-30842d9d-0bde-40d9-963e-052b6e6a69cc.png)

a

[2021-07-19 13:19] shayki5 commented on #106
Thank you!
Please grant permissions also to the user **Project Collection Build Service (ivang0848)**:
![image](https://user-images.githubusercontent.com/26063853/126165906-33c12ed0-1370-4285-a09d-f487f7705c5d.png)

[2021-07-19 13:44] ivan-luxoft commented on #106
I added all permission, but previously I not seen this service account (and now I found it by search)

[2021-07-21 02:50] jingoscar commented on #107
Thank you so much for your reply.

[2021-07-29 07:12] shayki5 commented on #72
Hi @zycon, do you still need it?
By the way, are you sure the proxy is the issue?

[2021-08-03 14:13] tcukanoot opened #108 "Trying to run on non-windows vm"
Any thoughts on, or workarounds for, getting this to work on non-windows?
  vmImage: 'ubuntu-latest'

Thank you

[2021-08-05 15:09] AnshumanTripathy commented on #106
Have the same issue, have provided access to the Accounts as mentioned, still have 404. Trying to run the pipeline in a different Project 1. Is it possible to merge from Project 2 to Project 3(forked).

[2021-08-06 09:01] shayki5 commented on #106
@AnshumanTripathy When it forked repos it's impossible, I will add it soon!
If it is not forked repos, just repo in another project are you success?

[2021-08-09 11:53] shayki5 commented on #108
Hi, unfortunately no 😕, see issue #22.
You can just add PowerShell step (should work in Linux as well) and put the PS script that create the PR, you can copy the code from this task.
**For example:** (see [here](https://stackoverflow.com/questions/56184170/ci-cd-pipelines-azure-devops-automatic-merge-after-deploy-release/56211646#56211646))
[code]

[2021-08-09 11:53] #108 closed

[2021-08-10 21:00] mdverde commented on #100
Hi, sorry for not responding. Can we reopen this?

The task is working fine in other pipelines, but for one specific is failing to add the work items to the PR. The main difference is that the code repository is on a different project than the work items.

Last test I did was to move the pipeline from the project containing the code repo to the project containing the work items, but it's still not

[2021-08-11 01:32] praveenkumar510 opened #110 "Enhancement: Make PR title more dynamic as existing code supports multi target branches"
Before requesting this enhancement, This extension is very useful and working robust! To provide more features , I would like to request dynamic title support for PR. Please let me know if you allow me to be a contributor. Thanks!

[2021-08-11 06:28] shayki5 commented on #110
Hi @praveenkumar510,
Sure! You can contribute!
But, the title is dynamic, you can refer to the target branch name with `[BRANCH_NAME]`:
![image](https://user-images.githubusercontent.com/26063853/128980143-f2009e27-44e1-42c0-9c08-78247af08fb2.png)

[2021-08-11 11:13] shayki5 commented on #100
Hi, I re-opened :)
I tried it in my organization and I get the work items even from another project.
I added more debug prints, can you run it again and share the logs?

[2021-08-11 13:47] mdverde commented on #100
Thank you. I ran it again, but I don't see any change on the logs. Should I do anything to make sure it gets the latest version?

[2021-08-11 13:50] shayki5 commented on #100
It should be updated it automatically.
Which version do you see in the logs?
And, did you run it `system.debug` = `true`?

[2021-08-11 14:00] mdverde commented on #100
it's getting version 1.2.257, so it should be fine, but I don't see any change on the debug logs. This is the latest run:

[pipeline.log](https://github.com/shayki5/azure-devops-create-pr-task/files/6969003/pipeline.log)

[2021-08-11 14:12] shayki5 commented on #100
Yes, 257 is the latest.
So, it looks like the work items not linked to the PR changes, see in my case:
![image](https://user-images.githubusercontent.com/26063853/129044807-5e13b7d8-cadc-4b00-9fc2-1b42d2bbe676.png)

[2021-08-11 16:05] praveenkumar510 commented on #110
Found the code. Thank you!

$pullRequestTitle = $title.Replace('[BRANCH_NAME]', $branch.Replace('refs/heads/',''))

[2021-08-11 21:15] mdverde commented on #100
We will perform a new set of controlled tests, because on previous scenarios, I'm sure that at least one commit has at least one linked work item.

Thank you.

[2021-08-11 21:16] shayki5 commented on #100
Very strange!
If you want you can give me read access and I will check it :)

[2021-08-12 18:22] #110 closed

[2021-08-27 17:17] GrumpyVader opened #112 "[error]The underlying connection was closed"
I'm using the Azure DevOps repository type with Current Repository build. I set the branch to test/* and defined a custom Title for testing. No other options are set.

I also tried Selecting the Project and Repository and specifying the Source branch.

When I run the release, the PR step throws the following error.

##[error]The underlying connection was closed: An unexpected error occurred on a r

[2021-08-28 18:29] shayki5 commented on #112
Hi, can you run it with `system.debug` = `true` and share here the logs?

[2021-09-18 01:59] GrumpyVader commented on #112
I apologize for such a long delay. I finally got back to trying this and I have the debug info. Let me know if there is anything else I can get you.

[CreatePullRequest-ErrorLog.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/7189028/CreatePullRequest-ErrorLog.txt)

[2021-09-22 18:56] shayki5 commented on #112
Hi, the master and target are the same, can you change it?
Are you behind a proxy?

[2021-10-13 13:30] tbrown10a opened #113 "Parameter name: The identity is not recognized"
I receive the following error when trying to create a pull request I believe I have granted all the requested permissions in DEV Ops  Any ideas?
![image](https://user-images.githubusercontent.com/50243125/137142320-0025f9f5-0480-4f96-944c-c04ed933049d.png)

2021-10-13T13:25:49.4252118Z ##[debug]POST https://dev.azure.com//_apis/git/repositories//pullrequests?api-version=4.0 with -1-byte payload
20

[2021-10-13 17:13] tbrown10a commented on #113
That got it past that step but we are now getting this error You need the Git 'PullRequestContribute' permission to perform this action.  It appears however I have granted that permission to the user needed

[2021-10-18 11:58] liranelisha commented on #113
having the same issue

[2021-10-18 12:36] shayki5 commented on #113
@liranelisha can you run it with `system.debug` = `true` and share here the logs?

[2021-10-18 13:58] shayki5 commented on #113
now I see the max is 10k :/ I guess there are above 10k in your account? can you check it?

[2021-10-19 09:38] shayki5 commented on #113
very strange :/ really don't know, maybe is a bug in the API?

[2021-10-27 15:21] tcukanoot opened #114 "AutoComplete setting does not appear to work"
I'm unable to get the autoComplete: true setting to work properly. It may be because I have additional rules not yet satisfied on the PR?

[2021-10-29 19:58] VetriZotec opened #115 "Method invocation failed because [System.String] does not contain a method named 'ForEach'."
2021-10-29T19:40:19.5573150Z ##[debug]Evaluating condition for step: 'Create Pull Request to master branch'
2021-10-29T19:40:19.5575155Z ##[debug]Evaluating: succeeded()
2021-10-29T19:40:19.5575773Z ##[debug]Evaluating succeeded:
2021-10-29T19:40:19.5577078Z ##[debug]=> True
2021-10-29T19:40:19.5577982Z ##[debug]Result: True
2021-10-29T19:40:19.5578794Z ##[section]Starting: Create Pull Request to

[2021-10-31 13:07] shayki5 commented on #115
Hi,
Is it happenes always or just now?

[2021-10-31 14:21] VetriZotec commented on #115
This is the first time i have setup it up. out of 8 pipelines only one pipeline task was successful. rest of them gave the same error.

[2021-10-31 14:36] shayki5 commented on #115
@VetriZotec can you give me read permissions to your project?

[2021-10-31 20:39] tcukanoot commented on #114
Appears to be the same issue that you have pinned. I am working through than now

2021-10-29T22:05:58.9770889Z *************************
2021-10-29T22:05:58.9781968Z ******** Success ********
2021-10-29T22:05:58.9793742Z *************************
2021-10-29T22:05:58.9810107Z Pull Request 5260 created.
2021-10-29T22:05:59.1987661Z ##[warning]Can't set Auto Complete to PR 5260.
2021-10-29T22:05:59.2

[2021-11-01 08:59] shayki5 commented on #114
@tcukanoot great, please update me if you fixed it.

[2021-11-01 13:19] VetriZotec commented on #115
not sure about that...
i will check with our security team. but if you can give some steps, with which  i can get more info for you, that will also be good...

[2021-11-01 13:30] shayki5 commented on #115
@VetriZotec sure.
try to run the following rest api (`POST`):
` https://zotecvisualstudio.com/8c-cb9be76820fa/_apis/git/repositories/00c5f5ac0/commitsBatch?api-version=4.0`
with the body:

[code]

paste here the response please.

[2021-11-01 15:21] AlexArendsen opened #116 "404 when creating PR from pull branch"
Hello!

I'm attempting to build some automation that create PRs as a branch policy-- essentially, when I create a PR into `dev`, I want to make a PR for the same source branch into `test`.

When I run the pipeline with a regular, non-pull branch it works just fine, creating the PR without issue. However, when I make it create a PR from a branch like `refs/pull/4/merge`, I get:

[code]

I submitted

[2021-11-01 15:23] shayki5 commented on #116
Hi @AlexArendsen, so - you create a PR from an existing PR?
Can you run it with `system.debug` = `true` and share here the logs?

[2021-11-01 16:51] VetriZotec commented on #115
<html><head><title>Object moved</title></head><body>
<h2>Object moved to <a href="https://spsprodeus24.vssps.visualstudio.com/_signin?realm=zotec.visualstudio.com&amp;reply_to=https%3A%2F%2Fzotec.visualstudio.com%2F21713897-7a17-42f8-888c-cb9be76820fa%2F_apis%2Fgit%2Frepositories%2F43410451-cd42-43f8-a134-9f000c5f5ac0%2FcommitsBatch%3Fapi-version%3D4.0&amp;redirect=1&amp;hid=c9f4c823-47c5-44a2-9d6

[2021-11-01 16:53] VetriZotec commented on #115
<html><head><title>Object moved</title></head><body>
<h2>Object moved to <a href="https://spsprodeus24.vssps.visualstudio.com/_signin?realm=zotecpartnersllc.visualstudio.com&amp;reply_to=https%3A%2F%2Fzotecpartnersllc.visualstudio.com%2F21713897-7a17-42f8-888c-cb9be76820fa%2F_apis%2Fgit%2Frepositories%2F43410451-cd42-43f8-a134-9f000c5f5ac0%2FcommitsBatch%3Fapi-version%3D4.0&amp;redirect=1&amp;hid=

[2021-11-01 16:55] VetriZotec commented on #115
i am not sure if you are able to see the output properly... in the above comment

[2021-11-01 19:07] shayki5 commented on #115
as I wrote it should be `POST` api, and not `GET`...

[2021-11-01 20:55] AlexArendsen commented on #116
[create-pr-debug.txt](https://github.com/shayki5/azure-devops-create-pr-task/files/7456081/create-pr-debug.txt)

Hi @shayki5! Sorry for the delay, please see above for the logs. I had to scrub a few details for security reasons, but it should still be diagnosable.

[2021-11-02 08:05] shayki5 commented on #116
Hi @AlexArendsen, I think I found the issue, when you are in a PR, Azure DevOps create a temporary branch (`refs/pull/4/merge`), we can't merge this branch to other branches, so we can't also create a PR from this branch to other branches.
If you are in a PR you can create another PR from another source branch, but not from the branch of the PR.

[2021-11-02 14:18] AlexArendsen commented on #116
Hi @shayki5 -- I see, I suspected that would be the issue. I fixed the problem by creating a new branch using a Bash task:

[code]

I had to grant our build service permission to "Create Branches" under Project Settings > Repositories > (our repo) > "Security" tab

After that, I just used your task to create a PR for `merge-$(Build.BuildId)` and it worked like a charm! Going to go ahead and close

[2021-11-02 14:18] #116 closed

[2021-11-02 14:30] shayki5 commented on #116
Great workaround 👌

[2021-11-04 18:11] VetriZotec commented on #115
hmm i did use the POST command. i used 'curl -X POST with -d @file.txt ( which has the body" with -k

[2021-11-04 22:33] shayki5 commented on #115
hmm ok, the error is confusing...
can you try do it with Powershell?

[2021-11-05 13:49] VetriZotec commented on #115
PS C:\Vetri\azdo\Applications> Invoke-WebRequest -Uri https://zotec.visualstudio.com/27-42f8-888c-
cb9be76820fa/_apis/git/repositories/4341134-9f000c5f5ac0/commitsBatch?api-version=4.0 -Method POST -Body
 @$file

StatusCode        : 203
StatusDescription : Non-Authoritative Information
Content           :

                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"

[2021-11-09 07:31] FabianHegg opened #117 "Reviewers can not be found"
It seems like the task finds the right team, but can not fill in the right id (see logs below). While having a look at the code, i found  a mysterious variable $u (see linked line). Is this the bug, which causes this issue?

2021-11-09T06:40:41.5184281Z     "reviewers":  [
2021-11-09T06:40:41.5184873Z                       {
2021-11-09T06:40:41.5185547Z                           "id":  "",
2021-11

[2021-11-09 08:31] FabianHegg commented on #117
Thank you@shayki5! Do you already know, when the fix will be released?

[2021-11-09 08:32] shayki5 commented on #117
Hi @FabianHegg,
Thank you! look like a bug!
I fixed it now, can you try again? (verify you are using the new version: 1.2.259)

[2021-11-09 08:35] FabianHegg commented on #117
@shayki5 Yes, i will have to let it install on our Azure DevOps Server instance. I will give you feedback as soon as i can.

[2021-11-09 08:37] shayki5 commented on #117
Great, thank you!

[2021-11-11 17:13] sgabler opened #118 "Feature Request: Only create PR if there are no file changes"
This is more of a feature request, and I would be happy to assist in the implementation if you think this is a good idea.

**Would it be possible to provide an option "Ignore merge commits" or something like that to avoid empty PRs?**

Here is how the PR currently gets created for us:

![image](https://user-images.githubusercontent.com/3625477/141339004-9f54795b-8a05-43ad-9b2d-7fefe385ed5a.png)

B

[2021-11-12 11:04] shayki5 commented on #118
Hi,
Yes, it's a good idea :)
Juts need to think how to determine when the diff is really empty.
I can take a look when I will have a time, if you can contribute if would be great :)

[2021-11-12 13:17] sgabler commented on #118
Thank you! I just took a look and I think I found one possible solution already:

In the method `CheckIfThereAreChanges` the following line is executed:
[code]

This gives me something like this:

[code]

If you add another query parameter `&diffCommonCommit=false`, then the response changes to this (i replaced the sensitive info with `<replaced>`):

[code]

I think we could use the `changeCounts`

[2021-11-12 23:25] tcukanoot commented on #114
I made the following change, and am still getting the 'genericContribute' error. Is there maybe another permission that needs to be set?

project settings > repositories > security > Project Collection Build Service Accounts > Contribute > Allow

error:
2021-11-12T23:03:31.2195806Z ##[warning]Can't set Auto Complete to PR 5355.
2021-11-12T23:03:31.2209229Z ##[warning]{"$id":"1","innerException":nu

[2021-11-13 16:24] shayki5 commented on #114
In Microsoft hosted agent is "Build Service (user-name)" and "Project Collection Build Service (Project)" (Sometimes the last only show up if you type the UUID (8837...) on "Search for user or groups".)

![image](https://user-images.githubusercontent.com/26063853/141651230-8e51a9c0-7f71-490f-873e-52cb10ab1f81.png)

[2021-11-14 14:37] shayki5 commented on #118
We can try it. here:
[code]
We need to replace the `behindCount` with `changeCounts`.
Do you want to open a PR? if not I can do it :)

[2021-11-14 18:15] sgabler commented on #118
I would appreciate if you could do it, as i have not set anything up to test it yet and I imagine that testing this could be a bit tricky.

But if you are short on time, let me know, then I will try it :)

[2021-11-16 08:38] shayki5 commented on #117
@FabianHegg did you manage to test it?

[2021-11-16 08:42] shayki5 commented on #118
Hi @sgabler,
I tried to fix it by check also the `changeCounts`.
Can you check if it solved your scenario? (check your extension version is 1.2.160)

[2021-11-16 08:50] Shaindy1 commented on #117
Hi @shayki5,
I got the same error when I try to add specific user to reviewer: the task finds the user but not but can not fill in the right id
so I want to use to assign a team reviewer but I not found the 1.2.259 release to update my extension, the latest is 213.
How can I get it?

[2021-11-16 09:22] sgabler commented on #118
Thank you for the fast implementation. I will test it now, but based on my above research I would assume that you also need to append the `&diffCommonCommit=false` to the URL, otherwise the `changeCounts` object is always empty. At least that's how it behaved for me. Here' a link to the documentation: [link](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/diffs/get?view=azure-devops-res

[2021-11-16 09:32] sgabler commented on #118
I double checked to use the right version 1.2.160, and an empty PR was still created

![image](https://user-images.githubusercontent.com/3625477/141959172-18a1ba1b-e2e3-4ecf-aa46-4934add8ff61.png)

It will probably work if you append the query parameter `&diffCommonCommit=false`. Apart from that the rest of the response looks the same, so I think it's safe to do it

here's a diff between the two r

[2021-11-16 10:08] shayki5 commented on #117
@Shaindy1 just download it from here:
https://marketplace.visualstudio.com/items?itemName=ShaykiAbramczyk.CreatePullRequest -> "Get it free"

[2021-11-16 10:16] Shaindy1 commented on #117
I'll try, thanks!

[2021-11-16 10:33] FabianHegg commented on #117
@shayki5 Not yet. It got installed today. We will test it during release next tuesday. I will write the results here.

[2021-11-16 10:39] shayki5 commented on #118
Oh I forgot it! I added it, can you check now?

[2021-11-16 10:59] Shaindy1 commented on #117
@shayki5  After updating the version, user reviewer and team reviewer work for me!!!
Thanks!

[2021-11-16 11:06] sgabler commented on #118
[code]

It still didn't work. I think it's because the comparison should be different.

You are using `$response.changeCounts -eq 0`, but that probably requires a number. But in our case, the `"changeCounts": {},` returns an empty javascript object, not a number.

I checked the docs here: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_comparison_operators?

[2021-11-16 12:28] shayki5 commented on #118
I think I fixed it :) can you try again?

[2021-11-16 13:28] sgabler commented on #118
thank you! it worked 🎊

tested cases:
- only commit diffs, but no file changes => no PR should be created ✅
- commit diffs with file changes => PR should be created ✅

very nice 🙂

only thing I noticed was the message `There are no new commits in the source branch, no PR is needed!`, which is not strictly true anymore. Maybe it could be changed to `There are no new changes in the source branch, no

[2021-11-16 13:36] shayki5 commented on #118
Great!!
Good idea about the message, I changed it to `changes` :)
Thank you for all your comments!

[2021-11-16 13:36] #118 closed

[2021-11-18 17:24] mwazzangrg opened #119 "Can't Bypass Policy if Set Auto Complete is true"
Hi team, this is a great plugin!

I'm having an issue with Bypass Policy and Set Auto Complete

Basically I need to tick both. The problem is that when I tick Set Auto Complete box, Bypass Policy box disappears.

Is this a bug or by design?

What I need is to bypass the policy, complete the PR and delete the original branch.

[2021-11-22 15:07] shayki5 commented on #119
Hi! It's by design, when you choose "Bypass" it's auto complete the PR and bypass the policies.
I don't know what happened to the source branch, need to check.

[2021-11-22 16:01] mwazzangrg commented on #119
Thanks Shayki

[2021-11-22 16:29] shayki5 commented on #119
@mwazzangrg try click on "Auto complete" check the "Delete source branch" and then click on "Bypass", maybe it will save the configuration and will delete the branch. can you check?

[2021-11-22 17:32] #119 closed

[2021-11-23 07:31] FabianHegg commented on #117
@shayki5 It works for us now. Thanks a lot!

[2021-11-23 07:36] shayki5 commented on #117
@FabianHegg Awesome!
Thanks for finding the bug!

[2021-11-23 07:36] #117 closed

[2021-11-25 07:44] gianlucalucente-trn opened #120 "The pull request cannot be activated"
Good morning,
I was trying to use this extension, but I receive this error:
##[error]TF401398: The pull request cannot be activated because the source and/or the target branch no longer exists, or the requested refs are not branches

I tried also adding ref/heads/ to the brnch names, but the error is the same.
Thank you for your help.

Sharing here the logs:

##[debug]Setting resource path to D:\a

[2021-11-25 07:59] shayki5 commented on #120
Hi,
Can you send a screenshot from the Repo with your exact branches name?

[2021-11-25 08:01] gianlucalucente-trn commented on #120
![image](https://user-images.githubusercontent.com/82019193/143402370-444e37f6-1b88-4420-bc10-09e5f0c00691.png)

[2021-11-25 10:38] shayki5 commented on #120
@gianlucalucente-trn give the "folder" name as well:

`Task\develop`, `Task\AutomaticPR`

[2021-11-25 10:40] shayki5 commented on #115
Now it's authentication issue, try to run it with the flag `-UseDefaultCredentials`.

[2021-11-25 10:40] gianlucalucente-trn commented on #120
Hello, Task is a collapsed folder, the branch names indeed are develop and AutomaticPR

[2021-11-25 10:40] shayki5 commented on #114
@tcukanoot did you manage to solve it?

[2021-11-25 11:02] shayki5 commented on #120
I know what is, can you try what I suggested?

[2021-11-25 11:41] gianlucalucente-trn commented on #120
Unfortunately I have the same error.

[2021-11-25 12:31] shayki5 commented on #120
Can you share the logs please?
There is another folder before `Task`?

[2021-11-25 13:28] #120 closed

[2021-11-25 13:28] gianlucalucente-trn commented on #120
Many apologies...I realized just now that I was using an extension with the same name and same layout
I downloaded the correct one and now it is working fine.
Thank you very much and sorry.
Closing the issue

[2021-11-26 15:33] VetriZotec commented on #115
Hmm I looked at all the documentation of Azure Plugin for a pipeline build task and I am not able to find where I will mention this flag and how.
Following is my sample build task for checkmax scan :
  - task: checkmarx.cxsast.cx-scan-task.Application security ***@***.***
    displayName: 'Security static source code analysis for $(BLDNUM)'
    inputs:
      CheckmarxService: Checkmarx
      custo

[2021-11-26 18:24] RigottiG opened #121 "Validation Fails"
I'm trying to create a pull request by Azure Pipelines but always came across w the following error

[code]

My yaml file

[code]

[2021-11-27 16:11] shayki5 commented on #121
Hi!
Can you run it with `system.debug` = `true` and share here the logs please?

[2021-11-27 16:29] shayki5 commented on #115
@VetriZotec i'm sorry but i'm not related to Checkmarx....

[2021-11-27 16:32] VetriZotec commented on #115
Sooo sorry,
I was working on checkmarx issue too and got mixed up.

I will now use this option on my create pull request task and see if its works for me or not
Thanks
Vetri

Vetrichelvi  Jayaprakasan
Senior DevOps Engineer I

P

***@***.***

Visit us at:
http://www.zotecpartners.com

[https://www.zotecpartners.com/zpllc_logo_ironport.gif]

Zotec Partners, LLC disclaimer<http://www.zotecpartners.c

[2021-11-27 16:44] VetriZotec commented on #115
i am using your extension in classic mode of pipelines and i don't see a flag for -UseDefaultCredentials . please let me know how to implement it.

[2021-11-27 16:45] shayki5 commented on #115
I meant to add it to your PS script you tried to run.

[2021-11-27 16:57] VetriZotec commented on #115
PS C:\Vetri\azdo\Applications>Invoke-WebRequest -Uri https://zotec.visualstudio.com/27-42f8-888c-
cb9be76820fa/_apis/git/repositories/4341134-9f000c5f5ac0/commitsBatch?api-version=4.0 -Method POST -Body
 @$file -UseDefaultCredentials

StatusCode        : 203
StatusDescription : Non-Authoritative Information
Content           :

                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stric

[2021-12-01 12:54] onenessboy opened #122 "Enhancement Request for Conflict Management."
Hi @shayki5

This really wonderful to manage pull requests.

Is that possible to do conflict  resolution? I know this is complicated, but enhancement request  where it can limit to

* Option to take all right side files or all left side files to merge (where scenario is you can take right side files or left side files for all conflicts)
I know it will be practically difficult to resolve each confl

[2021-12-02 15:39] kyletanders opened #123 "Switch to TLS 1.2"
Invoke-RestMethod by default uses TLS 1.0 which is not secure.  At my company we have TLS 1.0 disabled for security reasons, so I cannot use this package.

I think switching to TLS 1.2 is a fairly simple change in the powershell script.  Just need to add something like the below:
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

[2021-12-05 08:59] shayki5 commented on #80
@kachkaev fixed :)

[2021-12-05 08:59] #80 closed

[2021-12-05 14:07] shayki5 commented on #123
Hi @kyletanders, I updated the code, can you check it works for you?

[2021-12-06 19:23] kyletanders commented on #123
Seems to work now.  Thanks!

[2021-12-06 19:23] #123 closed

[2021-12-08 10:11] sgabler opened #126 "“alwaysCreatePr" flag doesn't seem to be working correctly"
After https://github.com/shayki5/azure-devops-create-pr-task/pull/124 was merged, the feature introduced in #118 unfortunately stopped working.

I already set `alwaysCreatePr: false` in my pipeline, but still an empty PR was created with 0 file changes. (The branch was 1 commit ahead, but no actual file changes are there)

Am I using this incorrectly somehow, or is there maybe a bug somewhere? Hap

[2021-12-08 11:03] shayki5 commented on #126
Hi @sgabler, this feature merged to master but didn't publish publicly yet.
Which task version you see in the logs?
And, in the logs what is the output? **0 new commits! perform a Pull Request...**?

[2021-12-08 11:18] sgabler commented on #126
sorry about not providing it from the beginning:

[code]

So this run used 1.2.272. Previously it worked, but last time I executed this task it used version 1.2.264. (It was paused due to some other issues, so today I tested it again after some weeks.)

[2021-12-08 11:20] sgabler commented on #126
The 1 commit mentioned above looks like this:

Merged PR 3201: Merge develop into release

But the file diff is empty

[2021-12-08 11:38] shayki5 commented on #126
Ok, this is another issue, not related to the merged PR...
Can you run the pipeline with `system.debug` = `true` and share the logs?

[2021-12-08 13:08] sgabler commented on #126
Sorry, maybe I jumped to conclusions :sweat_smile:

[code]

Replaced some values with `<removed>`.

[2021-12-08 13:44] shayki5 commented on #126
All good :)
Is not the full log :/ it stopped in `Link Work Items: True`.
Btw - I just published the new version... but it not will solve your issue...

[2021-12-08 15:27] sgabler commented on #126
whoops, I copy&pasted from azure, and that cuts of some data. weird. I now exported the raw log

[code]

[2021-12-08 15:40] sgabler commented on #126
I'm playing around with the API now. It's returning some unexpected results in some places. For example, when I compare "release" with "develop" branch, there shouldn't be any commits, because "release" is behind the "develop" branch. But the API doesn't show this.

I will let you know what I find out

[2021-12-08 16:30] shayki5 commented on #126
Thanks for the investigation!
The branches in the api call are in the right order: `baseVersion=$($sourceBranch)&targetVersion=$($targetBranch)` no?
The only thing is the `diffCommonCommit`, I can switch it to `true` of course, should I?

[2021-12-08 16:30] shayki5 commented on #114
Closed due no response.

[2021-12-08 16:30] #114 closed

[2021-12-08 16:40] sgabler commented on #126
Let me double check. To do so I just copy&pasted the API call from the task's logs to see how it currently works:

`<api_url>/_apis/git/repositories/0baf6bfa-ffa8-4b34-9293-cf7462fbd850/diffs/commits?baseVersion=release&targetVersion=develop&api-version=4.0&diffCommonCommit=false&$top=2`

aheadCount: 47
behindCount: 1
changeCounts: 126 Edits

Then I change the parameter to true:

`<api_url>/_apis/

[2021-12-08 16:57] shayki5 commented on #126
I think you put the wrong parameters:

[code]
The `develop` should be the source, no?

So, switch the `diffCommonCommit` to `true`?

[2021-12-08 17:25] shayki5 commented on #126
When you right you right 😀
So, swap the branches and switch `diffCommonCommit` to `true`?

[2021-12-08 17:32] sgabler commented on #126
Exactly 🎉😄

[2021-12-08 18:02] shayki5 commented on #126
Done and published :)
Can you check please?

[2021-12-08 22:03] ccicrlucas opened #127 "Version 1.2.278 saying no changes when there are"
![image](https://user-images.githubusercontent.com/67339044/145286275-f08ee72e-5d3d-4bcc-ab69-a316ea33455c.png)

However, I was able to manually create a PR for the branch in question to develop branch. Verbose doesn't add much insight.

![image](https://user-images.githubusercontent.com/67339044/145289368-a5da51c1-9821-4a3e-b5ff-617b8e1f67aa.png)
File changes exist from branch -> develop

![image

[2021-12-08 22:03] ccicrlucas commented on #127
https://github.com/shayki5/azure-devops-create-pr-task/pull/128 - please review to resolve.

[2021-12-08 22:25] shayki5 commented on #126
@sgabler see issue #127, looks like it's not good, I rollbacked the change.

[2021-12-08 22:26] shayki5 commented on #127
Hi! thanks for reporting!
I think it because of https://github.com/shayki5/azure-devops-create-pr-task/commit/ed4be96024f0ebab79aeebd2ad892f1d90e8fac6.
I did it without testing, now I can reproduce your issue in my side.
I reverted it. can you try in 5 mins.?

[2021-12-08 22:50] sgabler commented on #126
oh no. I will take a look tomorrow. Sorry for the inconvenience.

[2021-12-08 23:22] rdlucas2 commented on #127
PR still not creating. I did pick up the new version. (Posting from another account 🙂)

Error is now: There are no new changes in the source branch, no PR is needed!

[2021-12-08 23:57] sgabler commented on #126
Couldn't sleep because I was thinking about this issue 😅. But I think I have a solution.

After swapping the branches, the `behindCount` can't be used anymore and should be replaced with `aheadCount`.

That also actually makes more sense now: we want to know if the source branch is **ahead** of the target branch, not behind. Otherwise a merge can't happen.

So in short, the original changes from c

[2021-12-09 06:41] agitnaeta commented on #127
PR Still said there is no change.
There is anyone try to resolve it?

[2021-12-09 06:46] shayki5 commented on #127
Hi, I’m sorry about it! I will solve it in ~2 hours.

[2021-12-09 08:16] shayki5 commented on #127
@ccicrlucas  @rdlucas2 @agitnaeta solved 😀 I'm sorry for the trouble!

[2021-12-09 08:16] shayki5 commented on #126
Hi, you're right and I replaced the it to `aheadCount`, but the issue was the `diffCommonCommit=true` that I changed but didn't revert it, when it's `true` the `changeCounts` is empty! and PR not created. I switched it to `false` until we will understand exactly what is the meaning of `true`...

[2021-12-09 08:25] sgabler commented on #126
Thank you. I will prepare an explanation and comparison here to explain it. In my scenario the `diffCommonCommit` needs to be `true`, otherwise the feature request from #118 will not work anymore, I believe.

Will post that soon. Thank you for your cooperation so far 🙂

[2021-12-09 09:54] sgabler commented on #126
@shayki5 I created a Draft PR: https://github.com/shayki5/azure-devops-create-pr-task/pull/129

I hope this makes what I had in mind a bit clearer.

[2021-12-09 10:08] shayki5 commented on #126
@sgabler looks good but something it's strange in the API response, I did a test, created a new branch, changes something in a file and I got this (if `diffCommonCommit=true`):

[code]
The `changeCounts` is empty. why? the `aheadCount` is 1 that is correct.
In such case, in your new changes in the draft PR if `alwaysCreatePR=false` PR will not be created 😕

[2021-12-09 10:51] sgabler commented on #126
Strange. Here is how I test this. Let me know if there is any difference in the way you test

- I create a new branch from "develop", which is my base branch. This branch is called "test-pr-creation"
- I make one change to 1 file and push it
- Then I check the difference in Azure with the "compare branches feature"
    - There should be 1 commit shown: ✅
    ![image](https://user-images.githubuser

[2021-12-09 11:28] shayki5 commented on #126
Hi, I testes it again with new branch and you're right, don't know why before I got something else, maybe I mixed the branches by mistake.
So, switch it to regular PR, I will merge it to master, publish it privately and will test it.

[2021-12-09 14:49] rdlucas2 commented on #127
Hey, no need to apologize. It works again, marking resolved! Thanks!

[2021-12-09 15:23] sgabler commented on #126
So after #129 was merged, I got access to the private version of this task and tested in my organization.

First test: Merge master into release branch

Expected: 2 commits difference, no PR will be created because no file changes exist. A hint should be shown that the AlwaysCreatePr flag can be enabled.

[code]

✅

--------------------

Second test: Merge release into develop

Expected: also 2 co

[2021-12-09 15:24] sgabler commented on #126
@shayki5 can you think of anything else to test? if not, i think we are good to release that version and close this issue. Thanks a lot for your help

[2021-12-09 15:57] shayki5 commented on #126
Looks good! thank you so much for the tests!!
I just added 1 one small print and updated the public version 😀

[2021-12-09 15:57] #126 closed

[2021-12-09 15:58] shayki5 commented on #127
@ccicrlucas @agitnaeta can you verify it works for you now?

[2021-12-09 15:58] #127 closed

[2021-12-09 15:59] ccicrlucas commented on #127
Yes - again, thank you. I've closed the issue as well. Thanks for your responsiveness!

[2021-12-09 23:50] tcukanoot commented on #114
sorry for the delay, I was waiting on a sprint to hit this pipeline. I did confirm that the latest permission change did resolve the issue.  thanks

[2021-12-10 08:18] shayki5 commented on #114
@tcukanoot Great! thank you for the update!

[2021-12-27 16:32] saibharath005 opened #130 "You need the Git 'GenericContribute' permission"
Hi Shayki Abramczyk,

Sorry for the review but I am facing the below issue, Can you please help me out.

<img width="511" alt="image" src="https://user-images.githubusercontent.com/66404638/147490360-a6183f11-3c43-4b82-846f-eea11c371ee5.png">

If we need any call or working session i will be available to join. Please Help me out.

[2021-12-28 07:58] shayki5 commented on #130
Hi, you need to give permissions as in the picture (to both users):
![image](https://user-images.githubusercontent.com/26063853/147542913-6c2dd467-3761-4aee-b39c-59c1933fda14.png)

[2021-12-28 07:59] shayki5 commented on #121
@RigottiG ping :)

[2021-12-28 08:00] shayki5 commented on #115
Hi, do you still have issues?